USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_902_EV01]    Script Date: 3/26/2026 5:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_902_EV01] (
   @Placa VARCHAR(7),
   @IdTransacao INT = NULL OUTPUT
)
AS
BEGIN
   SET NOCOUNT ON
   SET XACT_ABORT ON


   -- Transmite:
   EXEC dbo.stp_Efab_Despachante
      902,
      @Placa,
      @IdTransacao OUTPUT
END



GO
