USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Autorizacao_Upd]    Script Date: 3/13/2026 5:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Autorizacao_Upd](
    @IdOperador INT = NULL,
    @Acoes VARCHAR(MAX) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @IdSistema VARCHAR(MAX) = NULL


        --tabela temporária
        CREATE TABLE #AcoesSelecionadas(
            idAcao INT 
        )
        --inserindo dados na tabela temporaria
        INSERT INTO #AcoesSelecionadas(idAcao)
        SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@Acoes, ',')

        --deletando as ações da tabela autorização de acordo com o operador e as ações que não existem na tabela temporária
        DELETE A
        FROM Efab_Autorizacao A
        WHERE A.idOperador = @IdOperador
        AND NOT EXISTS (
            SELECT 1
            FROM #AcoesSelecionadas T
            WHERE T.idAcao = A.idAcao
        )

        --inserindo na tabela autorização as ações que estão na tabela temporária mas que não existem na tabela autorização
        INSERT INTO Efab_Autorizacao (idOperador, idAcao)
        SELECT @IdOperador, T.idAcao
        FROM #AcoesSelecionadas T
        WHERE NOT EXISTS (
            SELECT 1
            FROM Efab_Autorizacao A
            WHERE A.idOperador = @IdOperador
            AND A.idAcao = T.idAcao
        )

        DROP TABLE #AcoesSelecionadas

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
         IF OBJECT_ID('tempdb..#AcoesSelecionadas') IS NOT NULL
            DROP TABLE #AcoesSelecionadas
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END


 SELECT CAST(value AS INT)
 FROM STRING_SPLIT(NULL, ',')
GO
