USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Time_Upd]    Script Date: 3/10/2026 4:27:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Time_Upd](
    @IdTime INT = NULL,
    @Nome VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT

        IF @Nome IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do time')
            SET @Erro = 1
        END
        IF ISNUMERIC(@Nome) = 1
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
            SET @Erro = 1
        END
        IF LEN(@Nome) < 3
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome não pode ter menos do que 3 caracteres')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1


        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime)
        END

        IF EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE Nome = @Nome
        )

        BEGIN
            RAISERROR('Operação cancelada. Já existe um time com esse nome %s', 16, 1, @Nome)
        END


        UPDATE Efab_Time SET 
            Nome = @Nome
        WHERE idTime = @IdTime


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
