USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Modulo]    Script Date: 3/12/2026 4:55:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Modulo](
	[idModulo] [int] IDENTITY(1,1) NOT NULL,
	[idSistema] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Efab_Modulo] PRIMARY KEY CLUSTERED 
(
	[idModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_Modulo] ON 

INSERT [dbo].[Efab_Modulo] ([idModulo], [idSistema], [Codigo], [Caption]) VALUES (1, 2, N'Cadastro', N'Cadastro')
INSERT [dbo].[Efab_Modulo] ([idModulo], [idSistema], [Codigo], [Caption]) VALUES (2, 2, N'Relatorio', N'Relatório')
INSERT [dbo].[Efab_Modulo] ([idModulo], [idSistema], [Codigo], [Caption]) VALUES (3, 3, N'Cadastro', N'Cadastro')
SET IDENTITY_INSERT [dbo].[Efab_Modulo] OFF
GO
ALTER TABLE [dbo].[Efab_Modulo]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Modulo_Efab_Sistema] FOREIGN KEY([idSistema])
REFERENCES [dbo].[Efab_Sistema] ([idSistema])
GO
ALTER TABLE [dbo].[Efab_Modulo] CHECK CONSTRAINT [FK_Efab_Modulo_Efab_Sistema]
GO
