USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Time_Del]    Script Date: 3/13/2026 5:13:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Time_Del](
    @IdTime INT = NULL,
    @Nome VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        
        IF @IdTime IS NULL
        BEGIN
            RAISERROR('Informe o ID do time', 16, 1)
        END

        IF @Nome IS NULL
         BEGIN
            RAISERROR('Informe o nome do time', 16, 1)
        END


        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime)
        END

        IF EXISTS (
            SELECT idTime
            FROM Efab_Jogador
            WHERE idTime = @idTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível apagar pois jogador tem um time', 16, 1, @IdTime)
        END
        IF EXISTS (
            SELECT idTime1
            FROM Efab_Jogo
            WHERE idTime1 = @IdTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível apagar pois o jogo precisa de um time pelo ID %d', 16, 1, @IdTime)
        END
        IF EXISTS (
            SELECT idTime2
            FROM Efab_Jogo
            WHERE idTime2 = @IdTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível apagar pois o jogo precisa de um time pelo ID %d', 16, 1, @IdTime)
        END


        DELETE Efab_Time
        WHERE idTime = @IdTime


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
