USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_ModuloHistorico]    Script Date: 3/25/2026 4:58:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_ModuloHistorico](
	[idModuloHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idModulo] [int] NOT NULL,
	[idSistema] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idModuloHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_ModuloHistorico] ON 

INSERT [dbo].[Efab_ModuloHistorico] ([idModuloHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idModulo], [idSistema], [Codigo], [Caption], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (1, N'I', CAST(N'2026-03-23T08:47:38.270' AS DateTime), N'LOG-ESTELITA\12453827480', 71, 6, 3, N'Relatorio', N'Relatório', 71, CAST(N'2026-03-23T08:47:38.220' AS DateTime), N'LOG-ESTELITA\12453827480')
SET IDENTITY_INSERT [dbo].[Efab_ModuloHistorico] OFF
GO
ALTER TABLE [dbo].[Efab_ModuloHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_ModuloHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_ModuloHistorico] CHECK CONSTRAINT [FK_Efab_ModuloHistorico_Sys_Sessao]
GO
