USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Bin]    Script Date: 3/26/2026 5:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Bin] (
    @MensagemEnvio VARCHAR(1000),
    @MensagemRetorno VARCHAR(1000) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON

    IF SUBSTRING(@MensagemEnvio, 7, 3) <> '902'
    BEGIN
		RETURN -1
    END

	IF SUBSTRING(@MensagemEnvio, 29, 4) <> '0044'
	BEGIN
		RETURN -1
	END

    IF CHARINDEX('PTP0A29', @MensagemEnvio) > 0
    BEGIN
        SET @MensagemRetorno = '005453902420010000000MABRMA1045800213000936LLL1SNJP770075    PTP0A2901315056590CIRCULACAO0921MA1COMPLETA     061616971999042018201812200001610DLLL58087000075    002020016200000NACIONAL                        126827077349                        0050100000002                                          0              000000000000000000000000000000209357207001083SP000000000806202200000000000000000             010000000000000              0000000000001120180402'
    END
    ELSE IF CHARINDEX('CXW6W57', @MensagemEnvio) > 0
    BEGIN
        SET @MensagemRetorno = '000001902420010000000MABRMA1004000212001'
    END
    ELSE IF CHARINDEX('KYT8X59', @MensagemEnvio) > 0
    BEGIN
        SET @MensagemRetorno = '000001902420010000000MABRMA1004000212017'
    END
    ELSE IF CHARINDEX('IHA4785', @MensagemEnvio) > 0
    BEGIN
        SET @MensagemRetorno = '000001902420010000000MABRMA1004000212018'
    END
    ELSE IF CHARINDEX('PTP0A30', @MensagemEnvio) > 0
    BEGIN
        SET @MensagemRetorno = '122664902420010000000MABRMA10450000370199C2JC3010YR029098    KEA710200731471504CIRCULACAO9389GO2COMPLETA     0400280510000220002000000012402JC30E1Y029098        000000000000000NACIONAL                        160012322377                        0020500000000                                          0              000000000000000000000000000000202862548000176GO000000003108202100000000000000000             000000000000000              00000000000000'
    END
    ELSE IF CHARINDEX('PTP0A31', @MensagemEnvio) > 0
    BEGIN
        SET @MensagemRetorno = '122664902420010000000MABRMA10450000370489C2JC3010YR029098    KEA710200731471504CIRCULACAO9389GO2COMPLETA     0400280510000220002000000012402JC30E1Y029098        000000000000000NACIONAL                        160012322377                        0020500000000                                          0              000000000000000000000000000000202862548000176GO000000003108202100000000000000000             000000000000000              00000000000000'
    END
    ELSE IF CHARINDEX('IHA4785', @MensagemEnvio) > 0
    BEGIN
        SET @MensagemRetorno = '000001902420010000000MABRMA1004000212018'
    END
    ELSE
    BEGIN
        SET @MensagemRetorno = '000001902420010000000MABRMA1004000212056'
    END

    RETURN 0
END



GO
