USE [dbTreinamento]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ParteFixa]    Script Date: 3/26/2026 5:05:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ParteFixa] (
   @CodigoTransacao VARCHAR(3),
   @TamanhoTransacao INT
)
RETURNS VARCHAR(37)
AS
BEGIN
   -- TODO: Implementar lógica de retorno da parte fixa
   DECLARE 
   @PrimeiraParte VARCHAR(6), 
   @TerceiraParte VARCHAR(1),
   @QuartaParte VARCHAR(11),
   @QuintaParte VARCHAR(2),
   @SextaParte VARCHAR(2),
   @SetimaParte VARCHAR(2),
   @OitavaParte VARCHAR(1), 
   @NonaParte VARCHAR(4),
   @DecimaParte VARCHAR(2),
   @DecimaPrimeiraParte VARCHAR(3),
   @ParteFixa VARCHAR(37)
   --ParteFixa
   --1 - 6 
	SELECT 
		@PrimeiraParte = MAX(idTransacao) + 1 
	FROM Efab_Transacao 
		
	SET @PrimeiraParte = CONCAT(REPLICATE(0, 6 - LEN(@PrimeiraParte)), @PrimeiraParte)
   --7 - 9
    --@CodigoTransacao
   --10 - 10
	SET @TerceiraParte = '4'
   --11 - 21
	SET @QuartaParte = CONCAT(REPLICATE(0, 7), '1234')
   --22 - 23
	SET @QuintaParte = 'RN'
   --24 - 25
	SET @SextaParte = 'RN'
   --26 - 27
   SET @SetimaParte = 'BR'
   --28 - 28
   SET @OitavaParte = '1'
   --29 - 32
	SET @NonaParte = CONCAT(REPLICATE(0, 2), @TamanhoTransacao)
   --33 - 34
   SET @DecimaParte = '00'
   --35 - 37
   SET @DecimaPrimeiraParte = CONCAT(REPLICATE(0, 3 - LEN(DATEPART(DAYOFYEAR, GETDATE()))), DATEPART(DAYOFYEAR, GETDATE()))

   SET @ParteFixa = @PrimeiraParte + @CodigoTransacao + @TerceiraParte + @QuartaParte + @QuintaParte + @SextaParte + @SetimaParte + @OitavaParte + @NonaParte + @DecimaParte + @DecimaPrimeiraParte

   RETURN @ParteFixa
END




GO
