USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Sistema]    Script Date: 3/13/2026 5:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Sistema](
	[idSistema] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Efab_Sistema] PRIMARY KEY CLUSTERED 
(
	[idSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_Sistema] ON 

INSERT [dbo].[Efab_Sistema] ([idSistema], [Codigo], [Caption]) VALUES (2, N'Copa', N'Copa')
INSERT [dbo].[Efab_Sistema] ([idSistema], [Codigo], [Caption]) VALUES (3, N'Administrativo', N'Administrativo')
SET IDENTITY_INSERT [dbo].[Efab_Sistema] OFF
GO
