USE [dbTreinamento]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Mensagem]    Script Date: 3/26/2026 5:05:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Mensagem] (
   @CodigoRetorno VARCHAR(4)
)
RETURNS VARCHAR(255)
AS
BEGIN

	DECLARE 
	@Mensagem VARCHAR(255)
    IF @CodigoRetorno = '001'
	 BEGIN
		SET @Mensagem = 'Nenhum registro encontrado'
	 END
	 IF @CodigoRetorno = '017'
	 BEGIN
		SET @Mensagem = 'Veículo não cadastrado e com ocorrência de roubo/furto'
	 END
	 IF @CodigoRetorno = '018'
	 BEGIN
		SET @Mensagem = 'Veículo não cadastrado e com sinalização de alarme'
	 END
	 IF @CodigoRetorno = '056'
	 BEGIN
		SET @Mensagem = 'Placa inválida'
	 END
	 IF @CodigoRetorno = '-999'
	 BEGIN
		SET @Mensagem = 'Transação inválida'
	 END
	 IF @CodigoRetorno = '019'
	 BEGIN 
		SET @Mensagem = 'Veículo cadastrado e com sinalização de alarme'
	 END
	 IF @CodigoRetorno = '048'
	 BEGIN
		SET @Mensagem = 'Veículo cadastrado e com ocorrência de roubo/furto'
	 END
	 IF @CodigoRetorno = '000'
	 BEGIN
		SET @Mensagem = 'Transação ou atualização efetuadas'
	 END
   RETURN @Mensagem
END



GO
