USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Participacao]    Script Date: 3/10/2026 4:27:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Participacao](
	[idParticipacao] [int] IDENTITY(1,1) NOT NULL,
	[idJogo] [int] NOT NULL,
	[idJogador] [int] NOT NULL,
	[GolsMarcados] [int] NOT NULL,
 CONSTRAINT [PK_Efab_Participacao] PRIMARY KEY CLUSTERED 
(
	[idParticipacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Efab_Participacao] ADD  CONSTRAINT [DF_Efab_Participacao_GolsMarcados]  DEFAULT ((0)) FOR [GolsMarcados]
GO
ALTER TABLE [dbo].[Efab_Participacao]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Participacao_Efab_Jogador] FOREIGN KEY([idJogador])
REFERENCES [dbo].[Efab_Jogador] ([idJogador])
GO
ALTER TABLE [dbo].[Efab_Participacao] CHECK CONSTRAINT [FK_Efab_Participacao_Efab_Jogador]
GO
ALTER TABLE [dbo].[Efab_Participacao]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Participacao_Efab_Jogo] FOREIGN KEY([idJogo])
REFERENCES [dbo].[Efab_Jogo] ([idJogo])
GO
ALTER TABLE [dbo].[Efab_Participacao] CHECK CONSTRAINT [FK_Efab_Participacao_Efab_Jogo]
GO
