USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Transacao]    Script Date: 3/27/2026 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Transacao](
	[idTransacao] [int] IDENTITY(1,1) NOT NULL,
	[CodigoTransacao] [int] NOT NULL,
	[StatusTransacao] [int] NULL,
	[CodigoRetorno] [varchar](4) NULL,
	[MensagemEnvio] [varchar](1000) NULL,
	[MensagemRetorno] [varchar](1000) NULL,
	[DataInclusao] [datetime] NOT NULL,
 CONSTRAINT [PK__Efab_Tra__455E3CA04CCE67CC] PRIMARY KEY CLUSTERED 
(
	[idTransacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_Transacao] ON 

INSERT [dbo].[Efab_Transacao] ([idTransacao], [CodigoTransacao], [StatusTransacao], [CodigoRetorno], [MensagemEnvio], [MensagemRetorno], [DataInclusao]) VALUES (2, 902, 0, N'56', NULL, N'000001902420010000000MABRMA1004000212056', CAST(N'2026-03-25T09:00:49.697' AS DateTime))
INSERT [dbo].[Efab_Transacao] ([idTransacao], [CodigoTransacao], [StatusTransacao], [CodigoRetorno], [MensagemEnvio], [MensagemRetorno], [DataInclusao]) VALUES (3, 902, -1, N'-999', N'000003902400000000000RNRNB1440084PTP0A29', NULL, CAST(N'2026-03-25T09:02:56.127' AS DateTime))
INSERT [dbo].[Efab_Transacao] ([idTransacao], [CodigoTransacao], [StatusTransacao], [CodigoRetorno], [MensagemEnvio], [MensagemRetorno], [DataInclusao]) VALUES (4, 902, -1, N'-999', N'000004902400000000000RNRNB1440084PTP0A29', NULL, CAST(N'2026-03-25T09:03:34.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Efab_Transacao] OFF
GO
ALTER TABLE [dbo].[Efab_Transacao] ADD  CONSTRAINT [DF_Efab_Transacao_DataInclusao]  DEFAULT (getdate()) FOR [DataInclusao]
GO
