USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogo_Sel]    Script Date: 3/23/2026 5:04:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Jogo_Sel]( 
    @TipoConsulta INT = NULL,
    @IdJogo INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

    IF @TipoConsulta = 0
    BEGIN
        SELECT 
            idJogo,
            t1.Nome AS Time1,
            t2.Nome AS Time2,
            j.Placar1,
            j.Placar2,
            t1.idTime AS IdTime1,
            t2.idTime AS IdTime2,
            CONVERT(VARCHAR, DataInicio, 23) AS DataInicio,
            CONVERT(VARCHAR, DataInicio, 108) AS HoraInicio,
            CONVERT(VARCHAR, DataFim, 23) AS DataFim,
            CONVERT(VARCHAR, DataFim, 108) AS HoraFim,
            j.ValorIngresso, 
            j.CaminhoArquivo
        FROM dbo.Efab_Jogo j
        INNER JOIN Efab_Time t1 ON t1.idTime = j.idTime1
        INNER JOIN Efab_Time t2 ON t2.idTime = j.idTime2
        WHERE idJogo = @IdJogo OR @IdJogo IS NULL 

    END
        
    IF @TipoConsulta = 1
    BEGIN
     SELECT
           t.idTime,
           t.Nome
        FROM dbo.Efab_Time t

    END
        
        
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END


GO
