USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogador_Upd]    Script Date: 3/10/2026 4:27:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Jogador_Upd](
    @IdJogador INT = NULL,
    @Jogador VARCHAR(50) = NULL,
    @IdTime INT = NULL,
    @Salario MONEY = NULL,
    @Capitao BIT = NULL,
    @Tecnico BIT = NULL,
    @Suspenso BIT = NULL,
    @IdCapitao INT = NULL,
    @IdTecnico INT = NULL, 
    @Suspensos VARCHAR(MAX) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT

            CREATE TABLE #JogadoresAtualizados(
                Suspensos INT
            )

        IF @IdJogador != 0 
        BEGIN

            IF @Jogador IS NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do jogador')
                SET @Erro = 1
            END
            IF ISNUMERIC(@Jogador) = 1
            BEGIN
                RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
                SET @Erro = 1
            END
            IF LEN(@Jogador) < 2
            BEGIN
                RAISERROR(50001, 10, 1, 'nome', 'O nome não pode ter menos do que 2 caracteres')
                SET @Erro = 1
            END

            IF @IdTime IS NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'time', 'Informe o time')
                SET @Erro = 1
            END
            IF @Salario IS NULL
            BEGIN
                 RAISERROR(50001, 10, 1, 'salario', 'Informe um valor para o salário do jogador')
                SET @Erro = 1
            END
            IF @Salario < 0
            BEGIN
                RAISERROR(50001, 10, 1, 'salario', 'Salário não pode ser menor que 0')
                SET @Erro = 1
            END

            IF @Erro = 1 RETURN 1


            IF NOT EXISTS (
                SELECT idJogador
                FROM Efab_Jogador
                WHERE idJogador = @IdJogador
            )
            BEGIN
                RAISERROR('Operação cancelada. Não foi possível identificar o jogador', 16, 1)
            END

            IF EXISTS (
                SELECT idJogador
                FROM Efab_Jogador
                WHERE Nome = @Jogador AND idTime = @IdTime AND idJogador != @IdJogador
            )

            BEGIN
                RAISERROR('Operação cancelada. Já existe um jogador desse time com esse nome %s', 16, 1, @Jogador)
            END

            IF NOT EXISTS (
                SELECT idTime
                FROM Efab_Time
                WHERE idTime = @idTime
            )
            BEGIN
                RAISERROR('Operação cancelada. Não foi possível identificar o time', 16, 1)
            END
            IF EXISTS(
                SELECT
                    idJogador
                FROM Efab_Jogador
                WHERE Capitao = 1 AND idTime = @IdTime AND idJogador != @IdJogador
            )
            BEGIN
                IF @Capitao = 1
                BEGIN
                    UPDATE Efab_Jogador SET Capitao = 0 WHERE idTime = @idTime
                END
            END
             IF EXISTS(
                SELECT
                    idJogador
                FROM Efab_Jogador
                WHERE Tecnico = 1 AND idTime = @IdTime AND idJogador != @IdJogador
            )
            BEGIN
                IF @Tecnico = 1
                BEGIN
                    UPDATE Efab_Jogador SET Tecnico = 0 WHERE idTime = @idTime
                END
            END

            IF @Capitao = 1 AND @Tecnico = 1
            BEGIN
                RAISERROR('Operação cancelada. Um jogador só pode ser Capitão ou Técnico', 16, 1)
            END

            IF EXISTS(
                SELECT
                    j.idJogador,
                    t.idTime,
                    j.Nome 
                FROM Efab_Jogador j
                INNER JOIN Efab_Time t ON t.idTime = j.idTime
                WHERE idJogador = @IdJogador AND j.idTime != @IdTime AND j.Nome != @Jogador 
            )
            BEGIN
                IF EXISTS(
                    SELECT idJogador
                    FROM Efab_Participacao
                    WHERE idJogador = @IdJogador
                )
                BEGIN
                    RAISERROR('Operação cancelada. Não foi possível atualizar o jogador pois ele está em uma participação', 16, 1)
                END
            END


            UPDATE Efab_Jogador SET 
                Nome = @Jogador,
                idTime = @IdTime,
                Salario = @Salario,
                Capitao = @Capitao,
                Tecnico = @Tecnico,
                Suspenso = @Suspenso
            WHERE idJogador = @IdJogador
        END
        ELSE
        BEGIN 
        BEGIN TRANSACTION

            IF @IdCapitao = @IdTecnico
            BEGIN
                RAISERROR('Operação cancelada. O mesmo jogador não pode ser Capitão e Técnico', 16, 1)
            END

            INSERT INTO #JogadoresAtualizados(Suspensos)
            SELECT CAST(value AS INT)
            FROM STRING_SPLIT(@Suspensos, ',')

            UPDATE Efab_Jogador SET 
            Suspenso = 0
            WHERE idJogador NOT IN (
            SELECT Suspensos FROM #JogadoresAtualizados) AND idTime = @IdTime

            UPDATE Efab_Jogador SET 
            Suspenso = 1
            WHERE idJogador IN (
            SELECT Suspensos FROM #JogadoresAtualizados) 

            UPDATE Efab_Jogador SET
            Capitao = 0 
            WHERE idJogador != @IdCapitao
            AND idTime = @IdTime AND Capitao = 1

            UPDATE Efab_Jogador SET
            Capitao = 1
            WHERE idJogador = @IdCapitao

            UPDATE Efab_Jogador SET
            Tecnico = 0
            WHERE idJogador != @IdTecnico
            AND idTime = @IdTime AND Tecnico = 1

            UPDATE Efab_Jogador SET
            Tecnico = 1
            WHERE idJogador = @IdTecnico
        COMMIT TRANSACTION
        END

        RETURN 0
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK
        END
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
