USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_ConsultaAcessos]    Script Date: 3/26/2026 5:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_ConsultaAcessos](
    @TipoConsulta VARCHAR(50) = NULL,
    @Chave VARCHAR(100) = NULL,
    @Cpf VARCHAR(11) = NULL,
    @QuantidadePorPagina INT = 10,
    @Pagina INT = 1,
    @DataInicio DATE = NULL,
    @DataFim DATE = NULL,
    @IdOperador INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
    IF @TipoConsulta = 'Operador'
    BEGIN
        SELECT
            idOperador,
            Cpf,
            Nome
        FROM Efab_Operador
        WHERE (CHARINDEX(@Chave, Cpf) > 0 OR @Chave IS NULL)
    END
    IF @TipoConsulta IS NULL
    BEGIN
        IF @DataInicio IS NULL AND @DataFim IS NULL
        BEGIN
            SELECT 
                o.IdOperador,
                o.Nome,
                s.ViaIp,
                s.DataInicio,
                s.DataFim
            FROM Sys_Sessao s
            INNER JOIN Efab_Operador o ON o.idOperador = s.IdOperador AND o.Cpf = @Cpf
            ORDER BY DataInicio
            OFFSET (@Pagina - 1) * @QuantidadePorPagina ROWS
            FETCH NEXT @QuantidadePorPagina ROWS ONLY 
        END
        ELSE 
        BEGIN
            IF @DataInicio > @DataFim
            BEGIN
                RAISERROR('Operação cancelada, data inicio não pode ser menor que a data fim', 16, 1)
            END
            IF @DataInicio IS NOT NULL AND @DataFim IS NULL
            BEGIN
                RAISERROR('Operação cancelada, data fim não pode ser vazia', 16, 1)
            END
            SELECT 
                o.IdOperador,
                o.Nome,
                s.ViaIp,
                s.DataInicio,
                s.DataFim
            FROM Sys_Sessao s
            INNER JOIN Efab_Operador o ON o.idOperador = s.IdOperador AND o.Cpf = @Cpf
            WHERE CAST(s.DataInicio AS DATE) BETWEEN @DataInicio AND @DataFim 
            AND CAST(s.DataFim AS DATE) BETWEEN @DataInicio AND @DataFim 
            ORDER BY DataInicio
            OFFSET (@Pagina - 1) * @QuantidadePorPagina ROWS
            FETCH NEXT @QuantidadePorPagina ROWS ONLY 
        END

    END
    IF @TipoConsulta = 'TotalRegistros'
    BEGIN
        IF @DataInicio > @DataFim
        BEGIN
            RAISERROR('Operação cancelada, data inicio não pode ser menor que a data fim', 16, 1)
        END
        SELECT COUNT(*) AS TotalRegistros
        FROM Sys_Sessao s
        INNER JOIN Efab_Operador o ON o.idOperador = s.IdOperador AND o.Cpf = @Cpf
        WHERE (CAST(s.DataInicio AS DATE) BETWEEN @DataInicio AND @DataFim 
            AND CAST(s.DataFim AS DATE) BETWEEN @DataInicio AND @DataFim) OR (@DataInicio IS NULL AND @DataFim IS NULL)
        
    END
    IF @TipoConsulta = 'Movimentacao'
    BEGIN
        IF @DataInicio IS NULL
        BEGIN
            RAISERROR('Operacao cancelada, informe uma data', 16,1) 
        END

        SELECT
        acoes.Pagina,
        CASE acoes.TipoOperacao
            WHEN 'I' THEN 'Insert'
            WHEN 'U' THEN 'Update'
            WHEN 'D' THEN 'Delete'
            ELSE acoes.TipoOperacao
        END AS Tipo,
        acoes.UsuarioOperacao AS Usuario,
        acoes.DataOperacao    AS [Data],
        o.Cpf,
        o.Nome
    FROM Sys_Sessao s
    INNER JOIN Efab_Operador o  ON o.idOperador = s.IdOperador
    INNER JOIN (
        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Time' AS Pagina
        FROM Efab_TimeHistorico

        UNION ALL

        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Jogador' AS Pagina
        FROM Efab_JogadorHistorico

        UNION ALL

        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Jogo' AS Pagina
        FROM Efab_JogoHistorico

        UNION ALL

        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Participacao' AS Pagina
        FROM Efab_ParticipacaoHistorico

        UNION ALL

        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Sistema' AS Pagina
        FROM Efab_SistemaHistorico

        UNION ALL

        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Módulo' AS Pagina
        FROM Efab_ModuloHistorico

        UNION ALL


        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Página' AS Pagina
        FROM Efab_PaginaHistorico

        UNION ALL


        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Ações' AS Pagina
        FROM Efab_AcaoHistorico
        
        UNION ALL

        SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Operador' AS Pagina
        FROM Efab_OperadorHistorico

        UNION ALL 

         SELECT
            idSessaoOperacao,
            TipoOperacao,
            DataOperacao,
            UsuarioOperacao,
            'Autorizações' AS Pagina
        FROM Efab_AutorizacaoHistorico


    ) acoes ON acoes.idSessaoOperacao = s.IdSessao
    WHERE s.IdOperador = @IdOperador AND (CAST(s.DataInicio AS DATE) BETWEEN @DataInicio AND @DataFim AND CAST(s.DataFim AS DATE) BETWEEN @DataInicio AND @DataFim) OR CAST(s.DataInicio AS DATE) = @DataInicio AND @DataFim IS NULL
    ORDER BY acoes.DataOperacao DESC
        
    END
    IF @TipoConsulta = 'Contagem'
    IF @DataInicio IS NULL
    BEGIN
        RAISERROR('Operacao cancelada, informe uma data', 16,1) 
    END
    BEGIN
    SELECT
        COUNT(*) AS Total,
        SUM(CASE WHEN acoes.TipoOperacao = 'I' THEN 1 ELSE 0 END) AS Inserts,
        SUM(CASE WHEN acoes.TipoOperacao = 'U' THEN 1 ELSE 0 END) AS Updates,
        SUM(CASE WHEN acoes.TipoOperacao = 'D' THEN 1 ELSE 0 END) AS Deletes
    FROM Sys_Sessao s
    INNER JOIN (
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_TimeHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_JogadorHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_JogoHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_ParticipacaoHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_SistemaHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_ModuloHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_PaginaHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_AcaoHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_OperadorHistorico
        UNION ALL
        SELECT 
            idSessaoOperacao, 
            TipoOperacao 
        FROM Efab_AutorizacaoHistorico
    ) acoes ON acoes.idSessaoOperacao = s.IdSessao
    WHERE s.IdOperador = @IdOperador
      AND ((CAST(s.DataInicio AS DATE) BETWEEN @DataInicio AND @DataFim AND CAST(s.DataFim AS DATE) BETWEEN @DataInicio AND @DataFim)
      OR  (CAST(s.DataInicio AS DATE) = @DataInicio AND @DataFim IS NULL))

    END
    RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
