USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_JogadorHistorico]    Script Date: 3/25/2026 4:58:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_JogadorHistorico](
	[idJogadorHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idJogador] [int] NOT NULL,
	[idTime] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Salario] [money] NOT NULL,
	[Capitao] [bit] NOT NULL,
	[Tecnico] [bit] NOT NULL,
	[Suspenso] [bit] NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idJogadorHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Efab_JogadorHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_JogadorHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_JogadorHistorico] CHECK CONSTRAINT [FK_Efab_JogadorHistorico_Sys_Sessao]
GO
