USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_JogoHistorico]    Script Date: 3/20/2026 4:38:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_JogoHistorico](
	[idJogoHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idJogo] [int] NOT NULL,
	[idTime1] [int] NOT NULL,
	[idTime2] [int] NOT NULL,
	[Placar1] [int] NOT NULL,
	[Placar2] [int] NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFim] [datetime] NOT NULL,
	[CaminhoArquivo] [varchar](max) NULL,
	[ValorIngresso] [money] NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idJogoHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_JogoHistorico] ON 

INSERT [dbo].[Efab_JogoHistorico] ([idJogoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFim], [CaminhoArquivo], [ValorIngresso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (1, N'I', CAST(N'2026-03-20T16:10:21.517' AS DateTime), N'LOG-ESTELITA\12453827480', 68, 21, 1, 10, 0, 0, CAST(N'2026-03-20T16:10:21.453' AS DateTime), CAST(N'2026-03-20T18:10:21.453' AS DateTime), NULL, NULL, 68, CAST(N'2026-03-20T16:10:21.453' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_JogoHistorico] ([idJogoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFim], [CaminhoArquivo], [ValorIngresso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (2, N'I', CAST(N'2026-03-20T16:10:21.970' AS DateTime), N'LOG-ESTELITA\12453827480', 68, 22, 2, 10, 0, 0, CAST(N'2026-03-20T16:10:21.970' AS DateTime), CAST(N'2026-03-20T18:10:21.970' AS DateTime), NULL, NULL, 68, CAST(N'2026-03-20T16:10:21.970' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_JogoHistorico] ([idJogoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFim], [CaminhoArquivo], [ValorIngresso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (3, N'D', CAST(N'2026-03-20T16:12:07.170' AS DateTime), N'LOG-ESTELITA\12453827480', 68, 21, 1, 10, 0, 0, CAST(N'2026-03-20T16:10:21.453' AS DateTime), CAST(N'2026-03-20T18:10:21.453' AS DateTime), NULL, NULL, 68, CAST(N'2026-03-20T16:10:21.453' AS DateTime), N'LOG-ESTELITA\12453827480')
SET IDENTITY_INSERT [dbo].[Efab_JogoHistorico] OFF
GO
ALTER TABLE [dbo].[Efab_JogoHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_JogoHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_JogoHistorico] CHECK CONSTRAINT [FK_Efab_JogoHistorico_Sys_Sessao]
GO
