USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_PaginaHistorico]    Script Date: 3/25/2026 4:58:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_PaginaHistorico](
	[idPaginaHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idPagina] [int] NOT NULL,
	[idModulo] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
	[Bloqueio] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPaginaHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_PaginaHistorico] ON 

INSERT [dbo].[Efab_PaginaHistorico] ([idPaginaHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idPagina], [idModulo], [Codigo], [Caption], [idSessao], [DataInclusao], [UsuarioInclusao], [Bloqueio]) VALUES (1, N'I', CAST(N'2026-03-23T08:48:22.943' AS DateTime), N'LOG-ESTELITA\12453827480', 71, 16, 6, N'ConsultaAcessos', N'Consulta de Acessos', 71, CAST(N'2026-03-23T08:48:22.907' AS DateTime), N'LOG-ESTELITA\12453827480', 0)
INSERT [dbo].[Efab_PaginaHistorico] ([idPaginaHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idPagina], [idModulo], [Codigo], [Caption], [idSessao], [DataInclusao], [UsuarioInclusao], [Bloqueio]) VALUES (2, N'I', CAST(N'2026-03-23T08:55:52.000' AS DateTime), N'LOG-ESTELITA\12453827480', 72, 17, 6, N'AuxConsultaAcessos', N'Aux Consulta Acessos', 72, CAST(N'2026-03-23T08:55:51.970' AS DateTime), N'LOG-ESTELITA\12453827480', 0)
INSERT [dbo].[Efab_PaginaHistorico] ([idPaginaHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idPagina], [idModulo], [Codigo], [Caption], [idSessao], [DataInclusao], [UsuarioInclusao], [Bloqueio]) VALUES (3, N'I', CAST(N'2026-03-23T09:51:29.317' AS DateTime), N'LOG-ESTELITA\12453827480', 75, 18, 6, N'Movimentacoes', N'Movimentações', 75, CAST(N'2026-03-23T09:51:29.277' AS DateTime), N'LOG-ESTELITA\12453827480', 0)
SET IDENTITY_INSERT [dbo].[Efab_PaginaHistorico] OFF
GO
ALTER TABLE [dbo].[Efab_PaginaHistorico] ADD  DEFAULT ((0)) FOR [Bloqueio]
GO
ALTER TABLE [dbo].[Efab_PaginaHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_PaginaHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_PaginaHistorico] CHECK CONSTRAINT [FK_Efab_PaginaHistorico_Sys_Sessao]
GO
