USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Sys_Sessao]    Script Date: 3/23/2026 5:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Sessao](
	[IdSessao] [int] IDENTITY(1,1) NOT NULL,
	[IdOperador] [int] NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFim] [datetime] NULL,
	[ViaIp] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSessao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_Sessao] ON 

INSERT [dbo].[Sys_Sessao] ([IdSessao], [IdOperador], [DataInicio], [DataFim], [ViaIp]) VALUES (-1, 1, CAST(N'2026-03-16T11:06:07.990' AS DateTime), CAST(N'2026-03-16T13:50:06.267' AS DateTime), N'::1')
INSERT [dbo].[Sys_Sessao] ([IdSessao], [IdOperador], [DataInicio], [DataFim], [ViaIp]) VALUES (1, 1, CAST(N'2026-03-16T13:50:06.270' AS DateTime), CAST(N'2026-03-16T15:09:31.107' AS DateTime), NULL)
INSERT [dbo].[Sys_Sessao] ([IdSessao], [IdOperador], [DataInicio], [DataFim], [ViaIp]) VALUES (2, 1, CAST(N'2026-03-16T15:09:31.107' AS DateTime), CAST(N'2026-03-16T15:10:20.067' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Sys_Sessao] OFF
GO
ALTER TABLE [dbo].[Sys_Sessao]  WITH CHECK ADD  CONSTRAINT [FK_Sys_Sessao_Efab_Operador] FOREIGN KEY([IdOperador])
REFERENCES [dbo].[Efab_Operador] ([idOperador])
GO
ALTER TABLE [dbo].[Sys_Sessao] CHECK CONSTRAINT [FK_Sys_Sessao_Efab_Operador]
GO
