USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Acao_Del]    Script Date: 3/13/2026 5:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Acao_Del](
    @IdAcao INT = NULL,
    @IdPagina INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL,
    @NomeProcedure VARCHAR(100) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        
        IF @IdAcao IS NULL
        BEGIN
            RAISERROR('Não foi possível encontrar a ação', 16, 1)
        END


        IF NOT EXISTS (
            SELECT idAcao
            FROM Efab_Acao
            WHERE idAcao = @IdAcao
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar a página', 16, 1)
        END
        IF EXISTS(
            SELECT idAcao
            FROM Efab_Autorizacao
            WHERE idAcao = @IdAcao
        )
        BEGIN
            RAISERROR('Operação cancelada. Não é possível apagar essa página pois ele já está vinculado a uma autorização', 16, 1)
        END

        DELETE Efab_Acao
        WHERE idAcao = @IdAcao 


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
