USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Acao_Upd]    Script Date: 3/11/2026 4:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Acao_Upd](
    @IdAcao INT = NULL,
    @IdPagina INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL,
    @NomeProcedure VARCHAR(100) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT 

         IF @IdPagina IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idPagina', 'Informe a página da ação')
            SET @Erro = 1
        END

        IF @Codigo IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o codigo da ação')
            SET @Erro = 1
        END

        IF @Caption IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption da ação')
            SET @Erro = 1
        END
        IF @NomeProcedure IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'nomeProcedure', 'Informe o nome da procedure da ação')
            SET @Erro = 1
        END
        IF LEN(@Caption) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption da ação')
            SET @Erro = 1
        END
        IF LEN(@Codigo) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o código da ação')
            SET @Erro = 1
        END
        IF LEN(@NomeProcedure) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'nomeProcedure', 'Informe o nome da procedure da ação')
            SET @Erro = 1
        END


        IF @Erro = 1 RETURN 1 

        IF NOT EXISTS(
            SELECT *
            FROM Efab_Pagina
            WHERE idPagina = @IdPagina
        )
        BEGIN
            RAISERROR('Não existe essa página', 16, 1)
        END
        IF NOT EXISTS(
            SELECT *
            FROM Efab_Acao
            WHERE idAcao = @IdAcao
        )
        BEGIN
            RAISERROR('Não existe essa Ação', 16, 1)
        END

        IF EXISTS (
            SELECT *
            FROM Efab_Acao
            WHERE Codigo = @Codigo AND idPagina = @IdPagina AND idAcao != @IdAcao
        )
        BEGIN
            RAISERROR('Ação ja cadastrado com esse código', 16, 1)
        END


        UPDATE Efab_Acao SET 
            idPagina = @IdPagina,
            Codigo = @Codigo,
            Caption = @Caption, 
            NomeProcedure = @NomeProcedure
        WHERE idAcao = @IdAcao


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
