USE [dbTreinamento]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Rev_Consulta_902]    Script Date: 3/26/2026 5:05:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Rev_Consulta_902] (
	@idTransacao INT,
	@CodigoRetorno VARCHAR(4)
)
RETURNS @Transacao TABLE 
(
	 inParteFixa VARCHAR(37),
	 inPlaca VARCHAR(7),
	 outParteFixa VARCHAR(37),
	 outCodigoRetorno INT,
	 outMensagemErro VARCHAR(255),
	 outCodigoIdentificacaoVeiculo VARCHAR(21),
	 outPlacaUnica VARCHAR(7),
	 outCodigoRenavam INT,
	 outNomeSituacaoVeiculo VARCHAR(10),
	 outCodigoMunicipioEmplacamento INT,
	 outUfJurisdicao VARCHAR(2),
	 outTipoRemarChassi INT,
	 outNomeTipoMontagem VARCHAR(13),
	 outCodigoTipoVeiculo INT,
	 outCodigoMarcaModelo INT,
	 outCodigoEspecieVeiculo INT,
	 outCodigoTipoCarroceria INT,
	 outCodigoCor INT,
	 outAnoModelo INT,
	 outAnoFabricacao INT,
	 outPotenciaVeiculo INT,
	 outCilindradas INT,
	 outCodigoCombustivel INT,
	 outNumeroMotor VARCHAR(21),
	 outCMTVeiculo DECIMAL(5, 2),
	 outPBTVeiculo DECIMAL(5, 2),
	 outCapacidadeCarga DECIMAL(5,2),
	 outNomeProcedenVeiculo VARCHAR(11),
	 outNumeroCaixaCambio VARCHAR(21),
	 outTipoDocumentoProprietario INT,
	 outNumeroIdentificaProprietario VARCHAR(14), 
	 outNumeroCarroceria VARCHAR(21),
	 outCapacidadePassageiros INT,
	 outCodigoRestricao1 INT,
	 outCodigoRestricao2 INT,
	 outCodigoRestricao3 INT,
	 outCodigoRestricao4 INT,
	 outNumeroEixos INT,
	 outNumeroEixoTraseiro VARCHAR(21),
	 outNumeroEixoAuxiliar VARCHAR(21),
	 outTipoDocumentoImportador INT,
	 outNumeroIdentifiImportador VARCHAR(14),
	 outCodigoOrgaoRfb INT, 
	 outNumeroReda INT,
	 outNumeroDi INT,
	 outDataRegistroDi INT,
	 outTipoDocumentoFaturado INT,
	 outNumeroIdentificacaoFaturado VARCHAR(14),
	 outUfDestinoFaturamento VARCHAR(2),
	 outDataLimiteRestricaoTributa INT,
	 outDataUltimaAtualizacao INT,
	 outTipoOperacaoImportacaoVeiculo INT, 
	 outNumeroProcessoImportacao INT,
	 outDataBaixaTransfOutroPais INT,
	 outCodigoPaisTransf VARCHAR(5),
	 outIndicadorMultaExigivelRenainf INT,
	 outIndicadorComunicaVenda INT,
	 outIndicadorPendenciaEmissao INT,
	 outIndicadorRestricaoRenajud INT,
	 outIndicadorOcorrenciaRecall1 INT,
	 outIndicadorOcorrenciaRecall2 INT,
	 outIndicadorOcorrenciaRecall3 INT,
	 outIndicadorRecallMontadora INT,
	 outCodigoCategoriaVeiculoMre INT,
	 outTipoDocProprietarioIndicado INT,
	 outNumeroDocProprietarioIndicado VARCHAR(14),
	 outDataUltimaAtualizacaoMre INT,
	 outIndicadorEmplacamentoEletronico INT,
	 outOrigemIndicacaoPropriedade INT,
	 outIndicadorRestricaoRfb INT,
	 outIndicadorPlacaVeicular INT,
	 outIndicadorRestricoes INT
) AS BEGIN

	DECLARE @MensagemErro VARCHAR(255), @MensagemEnvio VARCHAR(44), @MensagemRetorno VARCHAR(450)

	SET @MensagemErro = dbo.fn_Mensagem(@CodigoRetorno)

	SET @MensagemEnvio = (
		SELECT
			MensagemEnvio
		FROM Efab_Transacao
		WHERE idTransacao = @idTransacao
	)
	SET @MensagemRetorno = (
		SELECT
			MensagemRetorno

		FROM Efab_Transacao
		WHERE idTransacao = @idTransacao
	)
	 
		 
		INSERT INTO @Transacao
		SELECT 
			SUBSTRING(@MensagemEnvio, 1, 37), --ParteFixaIN
			SUBSTRING(@MensagemEnvio, 38, 7), --PlacaIN
			SUBSTRING(@MensagemRetorno, 1, 37), --ParteFixaOUT
			SUBSTRING(@MensagemRetorno, 38, 3), --CodigoRetornoOUT
			@MensagemErro, --MensagemErro
			SUBSTRING(@MensagemRetorno, 41, 21), --CodigoIdentificacao
			SUBSTRING(@MensagemRetorno, 62, 7), --PlacaUnica
			CAST(SUBSTRING(@MensagemRetorno, 69, 11) AS INT), --CodigoRenavam
			SUBSTRING(@MensagemRetorno, 80, 10), --NomeSituacaoVeiculo
			CAST(SUBSTRING(@MensagemRetorno, 90, 4) AS INT), --CodigoMunicipioEmplacamento
			SUBSTRING(@MensagemRetorno, 94, 2), --UfJurisdicao
			CAST(SUBSTRING(@MensagemRetorno, 96, 1) AS INT), --TipoRemarcacaoChassi
			SUBSTRING(@MensagemRetorno, 97, 13), --nome-tipo-montagem
			CAST(SUBSTRING(@MensagemRetorno, 110, 2) AS INT), --código-tipo-veículo
			CAST(SUBSTRING(@MensagemRetorno, 112, 6) AS INT), --código-marca-modelo
			CAST(SUBSTRING(@MensagemRetorno, 118, 1) AS INT), --código-espécie-veículo
			CAST(SUBSTRING(@MensagemRetorno, 119, 3) AS INT), --código-tipo-carroceria
			CAST(SUBSTRING(@MensagemRetorno, 122, 2) AS INT), --código-cor
			CAST(SUBSTRING(@MensagemRetorno, 124, 4) AS INT), --ano-modelo
			CAST(SUBSTRING(@MensagemRetorno, 128, 4) AS INT), --ano-fabricação
			CAST(SUBSTRING(@MensagemRetorno, 132, 3) AS INT), --potência-veículo
			CAST(SUBSTRING(@MensagemRetorno, 135, 4) AS INT), --cilindradas
			CAST(SUBSTRING(@MensagemRetorno, 139, 2) AS INT), --código-combustível
			SUBSTRING(@MensagemRetorno, 141, 21), --número-motor
			CAST(SUBSTRING(@MensagemRetorno, 162, 5) AS DECIMAL(5, 2)), --CMT-veículo
			CAST(SUBSTRING(@MensagemRetorno, 167, 5) AS DECIMAL(5, 2)), --PBT-veículo
			CAST(SUBSTRING(@MensagemRetorno, 172, 5) AS DECIMAL(5, 2)), --capacidade-carga
			SUBSTRING(@MensagemRetorno, 177, 11), --nome-procedência-veículo
			SUBSTRING(@MensagemRetorno, 188, 21), -- número-caixa-câmbio
			CAST(SUBSTRING(@MensagemRetorno, 209, 1) AS INT ), -- tipo-documento-proprietário
			SUBSTRING(@MensagemRetorno, 210, 14), --número-identificação-proprietário
			SUBSTRING(@MensagemRetorno, 224, 21), --número-carroceria
			CAST(SUBSTRING(@MensagemRetorno, 245, 3) AS INT), --capacidade-passageiros
			CAST(SUBSTRING(@MensagemRetorno, 248, 2) AS INT), --código-restrição-1
			CAST(SUBSTRING(@MensagemRetorno, 250, 2) AS INT), --código-restrição-2
			CAST(SUBSTRING(@MensagemRetorno, 252, 2) AS INT), --código-restrição-3
			CAST(SUBSTRING(@MensagemRetorno, 254, 2) AS INT), --código-restrição-4
			CAST(SUBSTRING(@MensagemRetorno, 256, 2) AS INT), --número-eixos
			SUBSTRING(@MensagemRetorno, 258, 21), --número-eixo-traseiro
			SUBSTRING(@MensagemRetorno, 279, 21), --número-eixo-auxiliar
			CAST(SUBSTRING(@MensagemRetorno, 300, 1) AS INT), --tipo-documento-importador
			SUBSTRING(@MensagemRetorno, 301, 14), --número-identificação-importador
			CAST(SUBSTRING(@MensagemRetorno, 315, 7) AS INT), --código-órgão-RFB
			CAST(SUBSTRING(@MensagemRetorno, 322, 5) AS INT), --número-REDA
			CAST(SUBSTRING(@MensagemRetorno, 327, 10) AS BIGINT), --número-DI
			CAST(SUBSTRING(@MensagemRetorno, 337, 8) AS INT), --data-registro-DI
			CAST(SUBSTRING(@MensagemRetorno, 345, 1) AS INT), --tipo-documento-faturado
			SUBSTRING(@MensagemRetorno, 346, 14), --número-identificação-faturado
			SUBSTRING(@MensagemRetorno, 360, 2), --UF-destino-faturamento
			CAST(SUBSTRING(@MensagemRetorno, 362, 8) AS INT), --data-limite-restrição-tributária
			CAST(SUBSTRING(@MensagemRetorno, 370, 8) AS INT), --data-última-atualização
			CAST(SUBSTRING(@MensagemRetorno, 378, 2) AS INT), --tipo-operação-importação-veículo
			CAST(SUBSTRING(@MensagemRetorno, 380, 15) AS BIGINT), --número-processo-importação
			CAST(SUBSTRING(@MensagemRetorno, 395, 8) AS INT), --data-baixa-transf-outro-país
			SUBSTRING(@MensagemRetorno, 403, 5), --codigo-país-transf
			CAST(SUBSTRING(@MensagemRetorno, 408, 1) AS INT), --indicador-multa-exigível-RENAINF
			CAST(SUBSTRING(@MensagemRetorno, 409, 1) AS INT), --indicador-comunicação-venda
			CAST(SUBSTRING(@MensagemRetorno, 410, 1) AS INT), --indicador-pendência-emissão
			CAST(SUBSTRING(@MensagemRetorno, 411, 1) AS INT), --indicador-restrição-RENAJUD
			CAST(SUBSTRING(@MensagemRetorno, 412, 2) AS INT), --indicador-ocorrência-recall-1
			CAST(SUBSTRING(@MensagemRetorno, 414, 2) AS INT), --indicador-ocorrência-recall-2
			CAST(SUBSTRING(@MensagemRetorno, 416, 2) AS INT), --indicador-ocorrência-recall-3
			CAST(SUBSTRING(@MensagemRetorno, 418, 2) AS INT), --indicador-recall-montadora
			CAST(SUBSTRING(@MensagemRetorno, 420, 2) AS INT), --código-categoria-veículo-MRE
			CAST(SUBSTRING(@MensagemRetorno, 422, 1) AS INT), --tipo-doc-proprietário-indicado
			SUBSTRING(@MensagemRetorno, 423, 14), --número-doc-proprietário-indicado
			CAST(SUBSTRING(@MensagemRetorno, 437, 8) AS INT),  --data-última-atualização-MRE
			CAST(SUBSTRING(@MensagemRetorno, 445, 1) AS INT), --indicador-emplacamento-eletrônico
			CAST(SUBSTRING(@MensagemRetorno, 446, 1) AS INT), --origem-indicação-propriedade
			CAST(SUBSTRING(@MensagemRetorno, 447, 1) AS INT), --indicador-restrição-RFB
			CAST(SUBSTRING(@MensagemRetorno, 448, 1) AS INT), --indicador-placa-Veicular
			CAST(SUBSTRING(@MensagemRetorno, 449, 1) AS INT) --indicador-restrições
		
		RETURN
END

GO
