USE [dbTreinamento]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Rev_Consulta_902_Reserva]    Script Date: 3/25/2026 4:58:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Rev_Consulta_902_Reserva] (
	@idTransacao INT,
	@CodigoRetorno VARCHAR(4)
)
RETURNS TABLE 
	 
 AS RETURN(
	 
		
		SELECT 
			SUBSTRING(MensagemEnvio, 1, 37) AS inParteFixa, --ParteFixaIN
			SUBSTRING(MensagemEnvio, 38, 7) AS  inPlaca, --PlacaIN
			SUBSTRING(MensagemRetorno, 1, 37) AS outParteFixa, --ParteFixaOUT
			SUBSTRING(MensagemRetorno, 38, 3) AS outCodigoRetorno, --CodigoRetornoOUT
			dbo.fn_Mensagem(@CodigoRetorno) AS MensagemErro, --MensagemErro
			SUBSTRING(MensagemRetorno, 41, 21) AS outCodigoIdentificacaoVeiculo, --CodigoIdentificacao
			SUBSTRING(MensagemRetorno, 62, 7) AS outPlacaUnica, --PlacaUnica
			SUBSTRING(MensagemRetorno, 69, 11) AS outCodigoRenavam, --CodigoRenavam
			SUBSTRING(MensagemRetorno, 80, 10) AS outNomeSituacaoVeiculo, --NomeSituacaoVeiculo
			SUBSTRING(MensagemRetorno, 90, 4) AS  outCodigoMunicipioEmplacamento, --CodigoMunicipioEmplacamento
			SUBSTRING(MensagemRetorno, 94, 2) AS outUfJurisdicao, --UfJurisdicao
			SUBSTRING(MensagemRetorno, 96, 1) AS outTipoRemarChassi, --TipoRemarcacaoChassi
			SUBSTRING(MensagemRetorno, 97, 13) AS outNomeTipoMontagem, --nome-tipo-montagem
			SUBSTRING(MensagemRetorno, 110, 2)  AS outCodigoTipoVeiculo, --código-tipo-veículo
			SUBSTRING(MensagemRetorno, 112, 6) AS outCodigoMarcaModelo, --código-marca-modelo
			SUBSTRING(MensagemRetorno, 118, 1) AS outCodigoEspecieVeiculo, --código-espécie-veículo
			SUBSTRING(MensagemRetorno, 119, 3) AS outCodigoTipoCarroceria, --código-tipo-carroceria
			SUBSTRING(MensagemRetorno, 122, 2) AS outCodigoCor, --código-cor
			SUBSTRING(MensagemRetorno, 124, 4) AS outAnoModelo, --ano-modelo
			SUBSTRING(MensagemRetorno, 128, 4) AS outAnoFabricacao, --ano-fabricação
			SUBSTRING(MensagemRetorno, 132, 3) AS outPotenciaVeiculo, --potência-veículo
			SUBSTRING(MensagemRetorno, 135, 4) AS outCilindradas, --cilindradas
			SUBSTRING(MensagemRetorno, 139, 2) AS outCodigoCombustivel, --código-combustível
			SUBSTRING(MensagemRetorno, 141, 21) AS outNumeroMotor, --número-motor
			SUBSTRING(MensagemRetorno, 162, 5) AS outCMTVeiculo, --CMT-veículo
			SUBSTRING(MensagemRetorno, 167, 5) AS outPBTVeiculo, --PBT-veículo
			SUBSTRING(MensagemRetorno, 172, 5) AS outCapacidadeCarga, --capacidade-carga
			SUBSTRING(MensagemRetorno, 177, 11) AS outNomeProcedenVeiculo, --nome-procedência-veículo
			SUBSTRING(MensagemRetorno, 188, 21) AS outNumeroCaixaCambio, -- número-caixa-câmbio
			SUBSTRING(MensagemRetorno, 209, 1) AS outTipoDocumentoProprietario, -- tipo-documento-proprietário
			SUBSTRING(MensagemRetorno, 210, 14) AS outNumeroIdentificaProprietario, --número-identificação-proprietário
			SUBSTRING(MensagemRetorno, 224, 21) AS outNumeroCarroceria, --número-carroceria
			SUBSTRING(MensagemRetorno, 245, 3) AS outCapacidadePassageiros, --capacidade-passageiros
			SUBSTRING(MensagemRetorno, 248, 2)  AS outCodigoRestricao1, --código-restrição-1
			SUBSTRING(MensagemRetorno, 250, 2)  AS outCodigoRestricao2, --código-restrição-2
			SUBSTRING(MensagemRetorno, 252, 2)  AS outCodigoRestricao3, --código-restrição-3
			SUBSTRING(MensagemRetorno, 254, 2) AS outCodigoRestricao4, --código-restrição-4
			SUBSTRING(MensagemRetorno, 256, 2) AS outNumeroEixos, --número-eixos
			SUBSTRING(MensagemRetorno, 258, 21) AS outNumeroEixoTraseiro, --número-eixo-traseiro
			SUBSTRING(MensagemRetorno, 279, 21) AS outNumeroEixoAuxiliar, --número-eixo-auxiliar
			SUBSTRING(MensagemRetorno, 300, 1) AS outTipoDocumentoImportador, --tipo-documento-importador
			SUBSTRING(MensagemRetorno, 301, 14) AS outNumeroIdentifiImportador, --número-identificação-importador
			SUBSTRING(MensagemRetorno, 315, 7)  AS outCodigoOrgaoRfb, --código-órgão-RFB
			SUBSTRING(MensagemRetorno, 322, 5)  AS outNumeroReda, --número-REDA
			SUBSTRING(MensagemRetorno, 327, 10) AS outNumeroDi, --número-DI
			SUBSTRING(MensagemRetorno, 337, 8) AS outDataRegistroDi, --data-registro-DI
			SUBSTRING(MensagemRetorno, 345, 1) AS outTipoDocumentoFaturado, --tipo-documento-faturado
			SUBSTRING(MensagemRetorno, 346, 14) AS outNumeroIdentificacaoFaturado, --número-identificação-faturado
			SUBSTRING(MensagemRetorno, 360, 2) AS outUfDestinoFaturamento, --UF-destino-faturamento
			SUBSTRING(MensagemRetorno, 362, 8) AS outDataLimiteRestricaoTributa, --data-limite-restrição-tributária
			SUBSTRING(MensagemRetorno, 370, 8) AS outDataUltimaAtualizacao, --data-última-atualização
			SUBSTRING(MensagemRetorno, 378, 2) AS outTipoOperacaoImportacaoVeiculo, --tipo-operação-importação-veículo
			SUBSTRING(MensagemRetorno, 380, 15) AS outNumeroProcessoImportacao, --número-processo-importação
			SUBSTRING(MensagemRetorno, 395, 8) AS outDataBaixaTransfOutroPais, --data-baixa-transf-outro-país
			SUBSTRING(MensagemRetorno, 403, 5) AS outCodigoPaisTransf, --codigo-país-transf
			SUBSTRING(MensagemRetorno, 408, 1) AS outIndicadorMultaExigivelRenainf, --indicador-multa-exigível-RENAINF
			SUBSTRING(MensagemRetorno, 409, 1) AS outIndicadorComunicaVenda, --indicador-comunicação-venda
			SUBSTRING(MensagemRetorno, 410, 1) AS outIndicadorPendenciaEmissao, --indicador-pendência-emissão
			SUBSTRING(MensagemRetorno, 411, 1) AS outIndicadorRestricaoRenajud, --indicador-restrição-RENAJUD
			SUBSTRING(MensagemRetorno, 412, 2) AS outIndicadorOcorrenciaRecall1, --indicador-ocorrência-recall-1
			SUBSTRING(MensagemRetorno, 414, 2) AS outIndicadorOcorrenciaRecall2, --indicador-ocorrência-recall-2
			SUBSTRING(MensagemRetorno, 416, 2) AS outIndicadorOcorrenciaRecall3, --indicador-ocorrência-recall-3
			SUBSTRING(MensagemRetorno, 418, 2) AS outIndicadorRecallMontadora, --indicador-recall-montadora
			SUBSTRING(MensagemRetorno, 420, 2) AS outCodigoCategoriaVeiculoMre, --código-categoria-veículo-MRE
			SUBSTRING(MensagemRetorno, 422, 1) AS outTipoDocProprietarioIndicado, --tipo-doc-proprietário-indicado
			SUBSTRING(MensagemRetorno, 423, 14) AS outNumeroDocProprietarioIndicado, --número-doc-proprietário-indicado
			SUBSTRING(MensagemRetorno, 437, 8) AS outDataUltimaAtualizacaoMre,  --data-última-atualização-MRE
			SUBSTRING(MensagemRetorno, 445, 1) AS outIndicadorEmplacamentoEletronico, --indicador-emplacamento-eletrônico
			SUBSTRING(MensagemRetorno, 446, 1) AS outOrigemIndicacaoPropriedade, --origem-indicação-propriedade
			SUBSTRING(MensagemRetorno, 447, 1) AS outIndicadorRestricaoRfb, --indicador-restrição-RFB
			SUBSTRING(MensagemRetorno, 448, 1) AS outIndicadorPlacaVeicular, --indicador-placa-Veicular
			SUBSTRING(MensagemRetorno, 449, 1) AS outIndicadorRestricoes, --indicador-restrições
			MensagemEnvio,
			MensagemRetorno
		FROM Efab_Transacao 
		WHERE idTransacao = @idTransacao
)

GO
