USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Tre_Transacao_902]    Script Date: 3/27/2026 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Tre_Transacao_902] (
    @Placa VARCHAR(7) = NULL
) AS
BEGIN
   BEGIN TRY
      SET NOCOUNT ON

      DECLARE 
         @MsgErro VARCHAR(255), 
         @idTransacao INT, 
         @CodigoRetorno VARCHAR(4),
         @Mensagem VARCHAR(255),
         @Erro BIT

      IF @Placa IS NULL 
      BEGIN
        RAISERROR(50001, 10, 1, 'placa', 'Informe uma placa')
        SET @Erro = 1
      END
      IF LEN(TRIM(@Placa)) <> 7 
      BEGIN
        RAISERROR(50001, 10, 1, 'placa', 'Preencha a placa corretamente') 
        SET @Erro = 1
      END

      
      IF @Erro = 1 RETURN 1
      
      SET @Placa = TRIM(@Placa)

      EXEC dbo.stp_Efab_902_EV01
         @Placa = @Placa,
         @idTransacao = @idTransacao OUTPUT

        IF @idTransacao IS NULL
        BEGIN
            RAISERROR('IdTransação vazio', 16, 1)
        END

        IF NOT EXISTS(
            SELECT idTransacao
            FROM Efab_Transacao
            WHERE idTransacao = @idTransacao
        )
        BEGIN
            RAISERROR('Transação não existe', 16, 1)
        END

      -- TODO: Selecionar o código de retorno da transação
      SELECT 
      @CodigoRetorno = CodigoRetorno
      FROM Efab_Transacao
      WHERE idTransacao = @idTransacao

      -- TODO: Se o código de retorno for <> 0, mostrar a mensagem de erro da transação
      IF @CodigoRetorno IN(001, 017, 018, 056, -999) 
      BEGIN
        SET @Mensagem = dbo.fn_Mensagem(@CodigoRetorno)
        RAISERROR( '%s', 16, 1, @Mensagem)
      END
      ELSE
        BEGIN
            SELECT * FROM dbo.fn_Rev_Consulta_902_Reserva (@idTransacao, @CodigoRetorno)
        END

      RETURN 0
   END TRY
   BEGIN CATCH
      SET @MsgErro = ERROR_MESSAGE() 
      RAISERROR(@MsgErro, 16, 1)

      RETURN 1
   END CATCH
END



GO
