USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Jogador]    Script Date: 3/16/2026 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Jogador](
	[idJogador] [int] IDENTITY(1,1) NOT NULL,
	[idTime] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Salario] [money] NOT NULL,
	[Capitao] [bit] NULL,
	[Tecnico] [bit] NULL,
	[Suspenso] [bit] NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Efab_Jogador] PRIMARY KEY CLUSTERED 
(
	[idJogador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_Jogador] ON 

INSERT [dbo].[Efab_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (1, 1, N'Kaka', 100000.0000, 1, 0, 0, -1, CAST(N'2026-03-16T11:23:52.393' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (2, 4, N'Nakamura', 200000.0000, 0, 1, 0, -1, CAST(N'2026-03-16T11:23:52.393' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (3, 1, N'Adriano', 200000.0000, 0, 0, 0, -1, CAST(N'2026-03-16T11:23:52.393' AS DateTime), N'LOG-ESTELITA\12453827480')
SET IDENTITY_INSERT [dbo].[Efab_Jogador] OFF
GO
ALTER TABLE [dbo].[Efab_Jogador] ADD  DEFAULT (getdate()) FOR [DataInclusao]
GO
ALTER TABLE [dbo].[Efab_Jogador] ADD  DEFAULT (suser_sname()) FOR [UsuarioInclusao]
GO
ALTER TABLE [dbo].[Efab_Jogador]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Jogador_Efab_Time] FOREIGN KEY([idTime])
REFERENCES [dbo].[Efab_Time] ([idTime])
GO
ALTER TABLE [dbo].[Efab_Jogador] CHECK CONSTRAINT [FK_Efab_Jogador_Efab_Time]
GO
ALTER TABLE [dbo].[Efab_Jogador]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Jogador_Sys_Sessao] FOREIGN KEY([idSessao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_Jogador] CHECK CONSTRAINT [FK_Efab_Jogador_Sys_Sessao]
GO
