USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogador_Sel]    Script Date: 3/20/2026 4:38:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Jogador_Sel](
    @TipoConsulta INT = NULL,
    @IdJogador INT = NULL,
    @IdTime INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        IF @TipoConsulta = 0
        BEGIN
            SELECT 
                idJogador,
                jogr.Nome,
                t.Nome AS [Time],
                t.idTime,
                jogr.Salario AS Salario,
                jogr.Capitao,
                jogr.Tecnico,
                jogr.Suspenso
            FROM dbo.Efab_Jogador jogr
            INNER JOIN dbo.Efab_Time t ON t.idTime = jogr.idTime
            WHERE idJogador = @IdJogador OR @IdJogador IS NULL 
        END
        IF @TipoConsulta = 1
        BEGIN
            SELECT 
                t.idTime,
                t.Nome
            FROM dbo.Efab_Time t
        END
        IF @TipoConsulta = 2
        BEGIN
            SELECT 
                idJogador,
                jogr.Nome,
                t.Nome AS [Time],
                t.idTime,
                jogr.Salario AS Salario,
                jogr.Capitao,
                jogr.Tecnico,
                jogr.Suspenso
            FROM dbo.Efab_Jogador jogr
            INNER JOIN dbo.Efab_Time t ON t.idTime = jogr.idTime
            WHERE jogr.idTime = @IdTime
        END

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
