USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Jogo]    Script Date: 3/16/2026 4:46:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Jogo](
	[idJogo] [int] IDENTITY(1,1) NOT NULL,
	[idTime1] [int] NOT NULL,
	[idTime2] [int] NOT NULL,
	[Placar1] [int] NOT NULL,
	[Placar2] [int] NOT NULL,
	[DataInicio] [datetime] NOT NULL,
	[DataFim] [datetime] NOT NULL,
	[CaminhoArquivo] [varchar](max) NULL,
	[ValorIngresso] [money] NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Efab_Jogo] PRIMARY KEY CLUSTERED 
(
	[idJogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_Jogo] ON 

INSERT [dbo].[Efab_Jogo] ([idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFim], [CaminhoArquivo], [ValorIngresso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (1, 1, 2, 4, 1, CAST(N'2026-02-10T20:00:00.000' AS DateTime), CAST(N'2026-02-10T21:30:00.000' AS DateTime), N'/Arquivo/sumula_1.pdf', 200.0000, -1, CAST(N'2026-03-16T11:23:52.440' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_Jogo] ([idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFim], [CaminhoArquivo], [ValorIngresso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (2, 3, 4, 4, 5, CAST(N'2026-02-11T20:00:00.000' AS DateTime), CAST(N'2026-02-11T21:30:00.000' AS DateTime), NULL, 200.0000, -1, CAST(N'2026-03-16T11:23:52.440' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_Jogo] ([idJogo], [idTime1], [idTime2], [Placar1], [Placar2], [DataInicio], [DataFim], [CaminhoArquivo], [ValorIngresso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (3, 2, 4, 3, 4, CAST(N'2026-02-12T20:00:00.000' AS DateTime), CAST(N'2026-02-12T21:30:00.000' AS DateTime), NULL, 200.0000, -1, CAST(N'2026-03-16T11:23:52.440' AS DateTime), N'LOG-ESTELITA\12453827480')
SET IDENTITY_INSERT [dbo].[Efab_Jogo] OFF
GO
ALTER TABLE [dbo].[Efab_Jogo] ADD  CONSTRAINT [DF_Efab_Jogo_Placar1]  DEFAULT ((0)) FOR [Placar1]
GO
ALTER TABLE [dbo].[Efab_Jogo] ADD  CONSTRAINT [DF_Efab_Jogo_Placar2]  DEFAULT ((0)) FOR [Placar2]
GO
ALTER TABLE [dbo].[Efab_Jogo] ADD  DEFAULT (getdate()) FOR [DataInclusao]
GO
ALTER TABLE [dbo].[Efab_Jogo] ADD  DEFAULT (suser_sname()) FOR [UsuarioInclusao]
GO
ALTER TABLE [dbo].[Efab_Jogo]  WITH CHECK ADD  CONSTRAINT [FK__Efab_Jogo_Efab_Time1] FOREIGN KEY([idTime1])
REFERENCES [dbo].[Efab_Time] ([idTime])
GO
ALTER TABLE [dbo].[Efab_Jogo] CHECK CONSTRAINT [FK__Efab_Jogo_Efab_Time1]
GO
ALTER TABLE [dbo].[Efab_Jogo]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Jogo_Efab_Time2] FOREIGN KEY([idTime2])
REFERENCES [dbo].[Efab_Time] ([idTime])
GO
ALTER TABLE [dbo].[Efab_Jogo] CHECK CONSTRAINT [FK_Efab_Jogo_Efab_Time2]
GO
ALTER TABLE [dbo].[Efab_Jogo]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Jogo_Sys_Sessao] FOREIGN KEY([idSessao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_Jogo] CHECK CONSTRAINT [FK_Efab_Jogo_Sys_Sessao]
GO
