USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Time_Ins]    Script Date: 3/23/2026 5:04:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Time_Ins](
    @IdTime INT = NULL,
    @Nome VARCHAR(50) = NULL,
    @IdSessao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END

        IF @Nome IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do time')
            SET @Erro = 1
        END
        IF ISNUMERIC(@Nome) = 1
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
            SET @Erro = 1
        END
        IF LEN(@Nome) < 3
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome não pode ter menos do que 3 caracteres')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1

        IF EXISTS (
            SELECT *
            FROM Efab_Time
            WHERE Nome = @Nome
        )

        BEGIN
            RAISERROR('Nome de time já cadastrado', 16, 1)
        END

        INSERT Efab_Time(Nome, idSessao)
        VALUES (@Nome, @IdSessao)

        

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
