USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Participacao_Upd]    Script Date: 2/13/2026 9:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Participacao_Upd](
    @IdJogo INT = NULL,
    @IdJogador INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255),
            @IdTime INT = NULL

        IF @IdJogo IS NULL
        BEGIN
            RAISERROR('Informe o ID do Jogo', 16, 1)
        END

        IF @IdJogador IS NULL
        BEGIN
            RAISERROR('Informe o ID do jogador', 16, 1)
        END


        SELECT 
            @IdTime = idTime
        FROM Efab_Jogador
        WHERE @IdJogador = idJogador

        IF EXISTS (
            SELECT 
                part.idJogo,
                part.idJogador
            FROM dbo.Efab_Participacao part
            WHERE idJogo = @IdJogo AND idJogador = @IdJogador
         
        )
        BEGIN
            UPDATE Efab_Participacao SET 
                GolsMarcados = GolsMarcados + 1
            WHERE idJogo = @IdJogo AND idJogador = @IdJogador 
        END
        ELSE
        BEGIN
            INSERT Efab_Participacao (idJogo, idJogador, GolsMarcados) 
            VALUES (@IdJogo, @IdJogador, 1)
        END

        UPDATE Efab_Jogo SET
                Placar1 = CASE 
                              WHEN @IdTime = idTime1 THEN (Placar1 + 1)
                              ELSE Placar1
                           END,
                Placar2 = CASE 
                              WHEN @IdTime = idTime2 THEN (Placar2 + 1) 
                              ELSE Placar2
                          END
        WHERE idJogo = @IdJogo
        

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END