USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogador_Sel]    Script Date: 2/13/2026 9:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Jogador_Sel](
    @TipoConsulta INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        IF @TipoConsulta = 0
            SELECT 
                idJogador,
                jogr.Nome AS Jogador,
                t.Nome AS [Time],
                t.idTime
            FROM dbo.Efab_Jogador jogr
            INNER JOIN dbo.Efab_Time t
                ON t.idTime = jogr.idTime
        IF @TipoConsulta = 1
            SELECT 
                t.idTime,
                t.Nome
            FROM dbo.Efab_Time t

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END