USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogador_Upd]    Script Date: 2/13/2026 9:37:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Jogador_Upd](
    @IdJogador INT = NULL,
    @Jogador VARCHAR(50) = NULL,
    @IdTime INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        IF @IdJogador IS NULL
        BEGIN
            RAISERROR('Informe o ID do Jogador', 16, 1)
        END

        IF @Jogador IS NULL
        BEGIN
            RAISERROR('Informe o nome do Jogador', 16, 1)
        END

        IF LEN(@Jogador) = 0
        BEGIN
            RAISERROR('Digite um nome válido que não seja só espaço', 16, 1)
        END

        IF @IdTime IS NULL
        BEGIN
            RAISERROR('Informe o ID do time', 16, 1)
        END

        IF NOT EXISTS (
            SELECT idJogador
            FROM Efab_Jogador
            WHERE idJogador = @IdJogador
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o jogador informado pelo ID %d', 16, 1, @IdJogador)
        END

        IF EXISTS (
            SELECT idJogador
            FROM Efab_Jogador
            WHERE Nome = @Jogador AND idTime = @IdTime
        )

        BEGIN
            RAISERROR('Operação cancelada. Já existe um jogador desse time com esse nome %s', 16, 1, @Jogador)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime)
        END


        UPDATE Efab_Jogador SET 
            Nome = @Jogador,
            idTime = @IdTime
        WHERE idJogador = @IdJogador


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END