USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Time_Ins]    Script Date: 2/13/2026 9:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Time_Ins](
    @IdTime INT = NULL,
    @Nome VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)


        IF @Nome IS NULL
        BEGIN
            RAISERROR('Informe o nome do time', 16, 1)
        END


        IF LEN(@Nome) = 0
        BEGIN
            RAISERROR('Digite um nome válido que não seja só espaço', 16, 1)
        END

        IF EXISTS (
            SELECT *
            FROM Efab_Time
            WHERE Nome = @Nome
        )

        BEGIN
            RAISERROR('Nome de time já cadastrado', 16, 1)
        END

        INSERT Efab_Time(Nome)
        VALUES (@Nome)

        

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END