USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Time_Sel]    Script Date: 2/13/2026 3:34:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Time_Sel]
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        SELECT 
            idTime,
            Nome
        FROM dbo.Efab_Time

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END