USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Time_Upd]    Script Date: 2/13/2026 9:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Time_Upd](
    @IdTime INT = NULL,
    @Nome VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        
        IF @IdTime IS NULL
        BEGIN
            RAISERROR('Informe o ID do time', 16, 1)
        END


        IF @Nome IS NULL
        BEGIN
            RAISERROR('Informe o nome do time', 16, 1)
        END

        IF LEN(@Nome) = 0
        BEGIN
            RAISERROR('Digite um nome válido que não seja só espaço', 16, 1)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime)
        END

        IF EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE Nome = @Nome
        )

        BEGIN
            RAISERROR('Operação cancelada. Já existe um time com esse nome %s', 16, 1, @Nome)
        END


        UPDATE Efab_Time SET 
            Nome = @Nome
        WHERE idTime = @IdTime


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END