USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogador_Ins]    Script Date: 2/13/2026 9:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Jogador_Ins](
    @IdJogador INT = NULL,
    @Jogador VARCHAR(50) = NULL,
    @IdTime INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)


        IF @Jogador IS NULL
        BEGIN
            RAISERROR('Informe o nome do jogador', 16, 1)
        END

        IF @IdTime IS NULL
        BEGIN
            RAISERROR('Informe o time', 16, 1)
        END

        IF LEN(@Jogador) = 0
        BEGIN
            RAISERROR('Digite um nome válido que não seja só espaço', 16, 1)
        END


        IF EXISTS (
            SELECT *
            FROM Efab_Jogador
            WHERE Nome = @Jogador AND idTime = @IdTime
        )
        BEGIN
            RAISERROR('Nome de jogador já cadastrado', 16, 1)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime)
        END

        INSERT Efab_Jogador(Nome, idTime)
        VALUES (@Jogador, @IdTime)

        
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END