USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogo_Ins]    Script Date: 2/13/2026 9:39:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Jogo_Ins](
    @IdJogo INT = NULL,
    @IdTime1 INT = NULL,
    @IdTime2 INT = NULL,
    @Placar1 INT = NULL,
    @Placar2 INT = NULL

)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)


        IF @IdTime1 IS NULL
        BEGIN
            RAISERROR('Informe o time1', 16, 1)
        END

        IF @IdTime2 IS NULL
        BEGIN
            RAISERROR('Informe o time2', 16, 1)
        END

        IF @IdTime1 = @IdTime2
        BEGIN
           RAISERROR('Operação cancelada. Não foi possível adicionar o jogo com times iguais informado pelo ID', 16, 1)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime1
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime1)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime2
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime2)
        END

        INSERT Efab_Jogo(idTime1, idTime2)
        VALUES (@IdTime1, @IdTime2)

        
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
