USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Modulo_Del]    Script Date: 3/27/2026 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Modulo_Del](
    @IdModulo INT = NULL, 
    @IdSistema INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL,
    @IdSessao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END
        
        IF @IdModulo IS NULL
        BEGIN
            RAISERROR('Não foi possível encontrar o sistema', 16, 1)
        END


        IF NOT EXISTS (
            SELECT idModulo
            FROM Efab_Modulo
            WHERE idModulo = @IdModulo
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o sistema', 16, 1)
        END

        IF EXISTS(
            SELECT idModulo
            FROM Efab_Pagina
            WHERE idModulo = @IdModulo
        )
        BEGIN
            RAISERROR('Operação cancelada. Não é possível apagar esse modulo pois ele já está vinculado a uma página', 16, 1)
        END

        DELETE Efab_Modulo
        WHERE idModulo = @IdModulo


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
