USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Modulo_Sel]    Script Date: 2/27/2026 5:19:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Modulo_Sel](
    @TipoConsulta INT = NULL,
    @IdModulo INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

    IF @TipoConsulta = 0
    BEGIN
        SELECT 
            m.idModulo,
            s.idSistema,
            m.Codigo AS CodigoModulo,
            m.Caption AS CaptionModulo,
            s.Codigo AS CodigoSistema,
            s.Caption AS CaptionSistema
        FROM dbo.Efab_Modulo m
        INNER JOIN Efab_Sistema s ON s.idSistema = m.idSistema
        WHERE idModulo = @IdModulo OR @IdModulo IS NULL

    END
    IF @TipoConsulta = 1
    BEGIN
        SELECT 
            idSistema,
            Codigo,
            Caption
        FROM Efab_Sistema
    END
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END