USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Pagina_Upd]    Script Date: 2/27/2026 5:21:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Pagina_Upd](
    @IdPagina INT = NULL,
    @IdModulo INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT 

        IF @IdModulo IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idModulo', 'Informe o modulo da página')
            SET @Erro = 1
        END

        IF @Codigo IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o código da página')
            SET @Erro = 1
        END

        IF @Caption IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption da página')
            SET @Erro = 1
        END
        IF LEN(@Caption) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption da página')
            SET @Erro = 1
        END
        IF LEN(@Codigo) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o código da página')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1 


        IF NOT EXISTS(
            SELECT *
            FROM Efab_Modulo
            WHERE idModulo = @IdModulo
        )
        BEGIN
            RAISERROR('Não existe esse módulo', 16, 1)
        END

        IF EXISTS (
            SELECT 1
            FROM Efab_Pagina
            WHERE Codigo = @Codigo AND idModulo = @IdModulo AND idPagina != @IdPagina
        )
        BEGIN
            RAISERROR('Página ja cadastrada nesse módulo com esse código', 16, 1)
        END

        IF NOT EXISTS (
            SELECT idPagina
            FROM Efab_Pagina
            WHERE idPagina = @IdPagina
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar a página', 16, 1)
        END


        UPDATE Efab_Pagina SET 
            idModulo = @IdModulo,
            Codigo = @Codigo,
            Caption = @Caption
        WHERE idPagina = @IdPagina


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END