USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Pagina_Sel]    Script Date: 2/27/2026 5:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Pagina_Sel](
    @TipoConsulta INT = NULL,
    @IdPagina INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

    IF @TipoConsulta = 0
    BEGIN
        SELECT
            p.idPagina,
            m.idModulo,
            p.Codigo AS CodigoPagina,
            p.Caption AS CaptionPagina,
            m.Codigo AS CodigoModulo,
            m.Caption AS CaptionModulo,
            s.idSistema,
            s.Codigo AS CodigoSistema,
            s.Caption AS CaptionSistema
        FROM dbo.Efab_Pagina p
        INNER JOIN Efab_Modulo m ON m.idModulo = p.idModulo
        INNER JOIN Efab_Sistema s ON s.idSistema = m.idSistema
        WHERE idPagina = @IdPagina OR @IdPagina IS NULL
    END
    IF @TipoConsulta = 1
    BEGIN
        SELECT 
            m.idModulo,
            s.idSistema,
            m.Codigo AS CodigoModulo,
            m.Caption AS CaptionModulo,
            s.Caption AS CaptionSistema,
            s.Codigo AS CodigoSistema
        FROM dbo.Efab_Modulo m
        INNER JOIN Efab_Sistema s ON s.idSistema = m.idSistema
        
    END
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END