USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Aproveitamento_Sel]    Script Date: 3/27/2026 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Aproveitamento_Sel](
    @TipoConsulta INT = NULL
    
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

    IF @TipoConsulta = 0
    BEGIN
        SELECT 
            idTime,
            Nome
        FROM Efab_Time 
        
    END

    IF @TipoConsulta = 1
    BEGIN
        SELECT
            idJogador,
            idTime,
            Nome
        FROM Efab_Jogador 
    END

    
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
