USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Aproveitamento_Upd]    Script Date: 3/27/2026 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Aproveitamento_Upd](
    @json NVARCHAR(MAX) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

      DECLARE @Time TABLE(
            id   VARCHAR(50),
            nome VARCHAR(100),
            gols INT,
            folhaPagamento MONEY,
            aproveitamento DECIMAL (10,2)
        )
        DECLARE @Jogadores TABLE(
            id     VARCHAR(50),
            idTime VARCHAR(50), 
            nome   VARCHAR(100),
            salario MONEY,
            capitao BIT,
            tecnico BIT,
            suspenso BIT, 
            gols INT,
            aproveitamento DECIMAL(10,2)
        )


        INSERT INTO @Time (id, nome, folhaPagamento, gols, aproveitamento)
        SELECT
            Id, 
            Nome,
            NULL,
            NULL,
            NULL
        FROM OPENJSON(@json) 
        WITH (
            Id   VARCHAR(50)  '$.Id',
            Nome VARCHAR(100) '$.Nome' 
        ) 

       
        UPDATE t
        SET folhaPagamento = (
            SELECT SUM(ISNULL(jogr.Salario, 0))
            FROM Efab_Jogador jogr
            WHERE jogr.idTime = t.id
        ),
        gols = (
            SELECT SUM(ISNULL(a.GolsMarcados, 0)) FROM (
                SELECT
              
                    CASE 
				        WHEN t.id = j.idTime1 THEN j.Placar1
				        WHEN t.id = j.idTime2 THEN j.Placar2
			        END AS GolsMarcados
                FROM Efab_Jogo j
                WHERE t.id = j.idTime1 OR t.id = j.idTime2
            ) a
        ),
        aproveitamento =
        (
            SELECT ROUND(SUM(ISNULL(a.Aproveitamento, 0)) * 100.0 / ISNULL(COUNT(*) * 3, 1), 1) FROM (
                SELECT 
                    CASE 
                        WHEN t.id = j.idTime1 AND j.Placar1 > j.Placar2 THEN 3
                        WHEN t.id = j.idTime2 AND j.Placar2 > j.Placar1 THEN 3
                        WHEN j.Placar1 = j.Placar2 THEN 1
                        ELSE 0
                    END  AS Aproveitamento
                FROM Efab_Jogo j
                WHERE t.id = j.idTime1 OR t.id = j.idTime2
            ) a
        )
        FROM @Time t


        INSERT INTO @Jogadores (id, idTime, nome, salario, gols, capitao, tecnico, suspenso, aproveitamento)
        SELECT 
            j.Id, 
            t.Id, 
            j.Nome, 
            0.0, 
            0, 
            0, 
            0, 
            0, 
            0.0
        FROM OPENJSON(@json)
        WITH (
            Id       VARCHAR(50)      '$.Id',
            Jogadores NVARCHAR(MAX)   '$.Jogadores' AS JSON
        ) t
        CROSS APPLY OPENJSON(t.Jogadores)
        WITH (
            Id   VARCHAR(50)  '$.Id',
            Nome VARCHAR(100) '$.Nome'
        ) j


        UPDATE j
        SET salario =
        (
            SELECT 
                Salario
            FROM Efab_Jogador 
            WHERE idJogador = j.id
        ),
        gols = (
           SELECT
                SUM(ISNULL(part.GolsMarcados, 0)) 
           FROM Efab_Participacao part
           WHERE part.idJogador = j.id
        ),
        capitao = (
            SELECT 
                Capitao
            FROM Efab_Jogador
            WHERE idJogador = j.id
        ),
        tecnico = (
            SELECT
                Tecnico
            FROM Efab_Jogador
            WHERE idJogador = j.id
        ),
        suspenso = (
            SELECT 
                Suspenso
            FROM Efab_Jogador 
            WHERE idJogador = j.id
        ),
        aproveitamento = (
            SELECT a.Aproveitamento FROM (

                SELECT
                    ROUND(SUM(CAST(ISNULL(part.GolsMarcados, 0) AS DECIMAL(10,2))) / ISNULL(COUNT(jogo.idJogo), 1), 2) AS Aproveitamento
                FROM Efab_Jogo jogo
                LEFT JOIN Efab_Participacao part ON part.idJogo = jogo.idJogo AND part.idJogador = j.id
                WHERE jogo.idTime1 = j.idTime OR jogo.idTime2 = j.idTime
            ) a
        )
        FROM @Jogadores j


        SELECT (
            SELECT 
                t.id,
                t.nome,
                t.folhaPagamento,
                t.gols,
                t.aproveitamento,
                (
                    SELECT j.id, j.nome, j.salario, j.gols, j.capitao, j.tecnico, j.suspenso, j.aproveitamento
                    FROM @Jogadores j
                    WHERE j.idTime = t.id
                    FOR JSON PATH
                ) AS jogadores
            FROM @Time t
            FOR JSON PATH
        ) AS Json

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END

GO
