USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogo_Upd]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Jogo_Upd](
    @IdJogo INT = NULL,
    @TipoOperacao INT = NULL, 
    @IdTime1 INT = NULL,
    @IdTime2 INT = NULL,
    @Placar1 INT = NULL,
    @Placar2 INT = NULL,
    @DataInicio DATETIME = NULL,
    @DataFim DATETIME = NULL,
    @ValorIngresso MONEY = NULL,
    @CaminhoArquivo VARCHAR(MAX) = NULL,
    @IdSessao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END

        IF @TipoOperacao = 1
        BEGIN
            IF @CaminhoArquivo IS NOT NULL
            BEGIN
                SELECT @DataFim = DataFim
                FROM Efab_Jogo
                WHERE idJogo = @IdJogo

                IF GETDATE() > @DataFim
                BEGIN
                    UPDATE Efab_Jogo SET
                        CaminhoArquivo = @CaminhoArquivo,
                        idSessao = @IdSessao
                    WHERE idJogo = @IdJogo
                END
                ELSE
                BEGIN
                    RAISERROR('Operação cancelada. A súmula só pode ser inserida após o fim do jogo', 16, 1)
                END
            END
            ELSE
            BEGIN
               UPDATE Efab_Jogo SET
               CaminhoArquivo = NULL,
               idSessao = @IdSessao
               WHERE idJogo = @IdJogo
            END
        END
        IF @TipoOperacao = 0
        BEGIN
            IF @IdTime1 IS NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'idTime1', 'Informe o time')
                SET @Erro = 1
            END

            IF @IdTime2 IS NULL
            BEGIN
               RAISERROR(50001, 10, 1, 'idTime2', 'Informe o time')
               SET @Erro = 1
            END
             IF ISDATE(@DataInicio) = 0
            BEGIN
                RAISERROR(50001, 10, 1, 'dataInicio', 'Informe a Data e Hora do inicio do jogo')
                SET @Erro = 1
            END
            IF ISDATE(@DataFim) = 0
            BEGIN
                RAISERROR(50001, 10, 1, 'dataFim', 'Informe a Data e Hora do inicio do jogo')
                SET @Erro = 1
            END
             IF CAST(@DataInicio AS TIME) = NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'horaInicio', 'Informe a Hora do inicio do jogo')
                SET @Erro = 1
            END

            IF CAST(@DataFim AS TIME) = NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'horaInicio', 'Informe a Hora do fim do jogo')
                SET @Erro = 1
            END
            IF @ValorIngresso IS NULL
            BEGIN
                RAISERROR(50001, 10, 1, 'valorIngresso', 'Informe um salário')
                SET @Erro = 1
            END

            IF @ValorIngresso < 0
            BEGIN
                RAISERROR(50001, 10, 1, 'valorIngresso', 'Salário não pode ser menor que 0')
                SET @Erro = 1
            END
            IF @ValorIngresso = 0
            BEGIN
                RAISERROR(50001, 10, 1, 'valorIngresso', 'Informe um salário')
                SET @Erro = 1
            END

            IF @Erro = 1 RETURN 1

            IF @IdTime1 = @IdTime2
            BEGIN
               RAISERROR('Operação cancelada. Não foi possível atualizar o jogo com times iguais', 16, 1)
            END

            IF @DataFim <= @DataInicio
            BEGIN
                RAISERROR('Operação cancelada. A data de término não pode ser anterior à data de início.', 16, 1)
            END

            IF EXISTS(
                SELECT idJogo
                FROM Efab_Participacao
                WHERE idJogo = @idJogo
            )
            BEGIN 
                RAISERROR('Operação cancelada. Não é possível editar um jogo em andamento', 16, 1)
            END 

            IF @DataInicio < GETDATE()
            BEGIN
                RAISERROR('Operação cancelada. A data de início não pode ser menor que a data atual.', 16, 1)
            END

            IF NOT EXISTS (
                SELECT idJogo
                FROM Efab_Jogo
                WHERE idJogo = @IdJogo
            )
            BEGIN
                RAISERROR('Operação cancelada. Não foi possível identificar o jogo informado pelo ID %d', 16, 1, @IdJogo)
            END

            IF NOT EXISTS (
                SELECT idTime
                FROM Efab_Time
                WHERE idTime = @IdTime1
            )
            BEGIN
                RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime1)
            END

            IF NOT EXISTS (
                SELECT idTime
                FROM Efab_Time
                WHERE idTime = @IdTime2
            )
            BEGIN
                RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime2)
            END
                UPDATE Efab_Jogo SET 
                    idTime1 = @IdTime1,
                    idTime2 = @IdTime2,
                    DataInicio = @DataInicio,
                    DataFim = @DataFim,
                    ValorIngresso = @ValorIngresso,
                    idSessao = @IdSessao
                WHERE idJogo = @IdJogo
        END





        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END


GO
