USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Participacao_Sel]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Participacao_Sel](
    @TipoConsulta INT = NULL, 
    @IdJogo INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)


        IF @TipoConsulta = 0
        BEGIN
            SELECT 
                j.idJogo,
                t1.Nome AS Time1,
                t2.Nome AS Time2,
                j.Placar1,
                j.Placar2
            FROM dbo.Efab_Jogo j
            INNER JOIN Efab_Time t1 ON t1.idTime = j.idTime1
            INNER JOIN Efab_Time t2 ON t2.idTime = j.idTime2
        END
        IF @TipoConsulta = 1
        BEGIN
            SELECT
                jogr.Nome,
                (CASE 
                    WHEN jogr.idTime = t1.idTime THEN t1.Nome 
                    WHEN jogr.idTime = t2.idTime THEN t2.Nome 
                END) AS [Time], 
                part.GolsMarcados,
                jogr.idJogador,
                j.idJogo,
                jogr.Capitao,
                jogr.Tecnico,
                jogr.Suspenso
            FROM dbo.Efab_Jogo j
            JOIN dbo.Efab_Time t1 ON t1.idTime = j.idTime1
            JOIN dbo.Efab_Time t2 ON t2.idTime = j.idTime2  
            JOIN Efab_Jogador jogr ON jogr.idTime = t1.idTime OR jogr.idTime = t2.idTime
            LEFT JOIN Efab_Participacao part ON part.idJogo = j.idJogo AND part.idJogador = jogr.idJogador
            WHERE j.idJogo = @IdJogo AND (jogr.Suspenso = 0 OR jogr.Suspenso IS NULL);
        END
        IF @TipoConsulta = 2
        BEGIN
            SELECT
                jogr.Nome,
                (CASE 
                    WHEN jogr.idTime = t1.idTime THEN t1.Nome 
                    WHEN jogr.idTime = t2.idTime THEN t2.Nome 
                END) AS [Time], 
                part.GolsMarcados,
                jogr.idJogador,
                j.idJogo,
                jogr.Capitao,
                jogr.Tecnico,
                jogr.Suspenso
            FROM dbo.Efab_Jogo j
            JOIN dbo.Efab_Time t1 ON t1.idTime = j.idTime1
            JOIN dbo.Efab_Time t2 ON t2.idTime = j.idTime2  
            JOIN Efab_Jogador jogr ON jogr.idTime = t1.idTime OR jogr.idTime = t2.idTime
            LEFT JOIN Efab_Participacao part ON part.idJogo = j.idJogo AND part.idJogador = jogr.idJogador
            WHERE j.idJogo = @IdJogo AND jogr.Suspenso = 1 
        END

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
