USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogador_Ins]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Jogador_Ins](
    @IdJogador INT = NULL,
    @Jogador VARCHAR(50) = NULL,
    @IdTime INT = NULL,
    @Salario MONEY = NULL,
    @Capitao BIT = NULL,
    @Tecnico BIT = NULL,
    @Suspenso BIT = NULL,
    @IdSessao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT 

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END


        IF @Jogador IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do jogador')
            SET @Erro = 1
        END
        IF ISNUMERIC(@Jogador) = 1
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
            SET @Erro = 1
        END
        IF LEN(@Jogador) < 2
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome não pode ter menos do que 2 caracteres')
            SET @Erro = 1
        END

        IF @IdTime IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'time', 'Informe o time')
            SET @Erro = 1
        END
        IF @Salario IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'salario', 'Informe um salário')
            SET @Erro = 1
        END

        IF @Salario < 0
        BEGIN
            RAISERROR(50001, 10, 1, 'salario', 'Salário não pode ser menor que 0')
            SET @Erro = 1
        END
        IF @Salario = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'salario', 'Informe um salário')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1

        IF EXISTS (
            SELECT *
            FROM Efab_Jogador
            WHERE Nome = @Jogador AND idTime = @IdTime
        )
        BEGIN
            RAISERROR('Nome de jogador já cadastrado', 16, 1)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time', 16, 1)
        END

        IF EXISTS(
            SELECT
                idJogador
            FROM Efab_Jogador
            WHERE Capitao = 1 AND idTime = @IdTime AND idJogador != @IdJogador
        )
        BEGIN
            RAISERROR('Operação cancelada. Já tem um capitão nesse time', 16, 1)
        END
         IF EXISTS(
            SELECT
                idJogador
            FROM Efab_Jogador
            WHERE Tecnico = 1 AND idTime = @IdTime AND idJogador != @IdJogador
        )
        BEGIN
            RAISERROR('Operação cancelada. Já tem um técnico nesse time', 16, 1)
        END

        IF @Capitao = 1 AND @Tecnico = 1
        BEGIN
            RAISERROR('Operação cancelada. Um jogador só pode ser Capitão ou Técnico', 16, 1)
        END

        INSERT Efab_Jogador(Nome, idTime, Salario, Capitao, Tecnico, Suspenso, idSessao)
        VALUES (@Jogador, @IdTime, @Salario, @Capitao, @Tecnico, @Suspenso, @IdSessao)

        
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END

Select * from Efab_Jogador
GO
