USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Classificacao_Sel]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Classificacao_Sel]
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)


        SELECT 
		    t.Nome,
		    SUM(CASE 
				    WHEN t.idTime = j.idTime1 AND j.Placar1 > j.Placar2 THEN 3 
				    WHEN t.idTime = j.idTime2 AND j.Placar2 > j.Placar1 THEN 3 
				    WHEN t.idTime = j.idTime1 AND j.Placar1 = j.Placar2 THEN 1
				    WHEN t.idTime = j.idTime2 AND j.Placar2 = j.Placar1 THEN 1
			    END
		    ) AS Pontos,
		    SUM(CASE 
			    WHEN t.idTime = j.idTime1 THEN j.Placar1 - j.Placar2
			    WHEN t.idTime = j.idTime2 THEN j.Placar2 - j.Placar1
		    END
		    ) AS SaldoGols,
		    SUM(CASE 
				    WHEN t.idTime = j.idTime1 THEN j.Placar1
				    WHEN t.idTime = j.idTime2 THEN j.Placar2
			    END
		    ) AS GolsMarcados
	    FROM dbo.Efab_Time t
	    INNER JOIN dbo.Efab_Jogo j
		    ON j.idTime1 = t.idTime OR j.idTime2 = t.idTime
	    GROUP BY t.Nome
	    ORDER BY Pontos DESC

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END

GO
