USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Pagina_Ins]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Pagina_Ins](
    @IdPagina INT = NULL,
    @IdModulo INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL,
    @IdSessao INT = NULL,
    @Bloqueio BIT = 0
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), 
            @Erro BIT, @IdSistema INT

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END


        IF @IdModulo IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idModulo', 'Informe o modulo da página')
            SET @Erro = 1
        END

        IF @Codigo IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o codigo da página')
            SET @Erro = 1
        END

        IF @Caption IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption da página')
            SET @Erro = 1
        END
        IF LEN(@Caption) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption do módulo')
            SET @Erro = 1
        END
        IF LEN(@Codigo) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o código do módulo')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1 


        IF NOT EXISTS(
            SELECT *
            FROM Efab_Modulo
            WHERE idModulo = @IdModulo
        )
        BEGIN
            RAISERROR('Não existe esse módulo', 16, 1)
        END

        IF EXISTS (
            SELECT 1
            FROM Efab_Pagina
            WHERE Codigo = @Codigo AND idModulo = @IdModulo
        )
        BEGIN
            RAISERROR('Página ja cadastrada nesse módulo com esse código', 16, 1)
        END

        INSERT Efab_Pagina(idModulo, Codigo, Caption, idSessao, Bloqueio)
        VALUES (@IdModulo, @Codigo, @Caption, @IdSessao, @Bloqueio)

        

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
