USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Modulo_Ins]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Modulo_Ins](
    @IdModulo INT = NULL,
    @IdSistema INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL,
    @IdSessao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), 
            @Erro BIT

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END

        IF @IdSistema IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idSistema', 'Informe o sistema do módulo')
            SET @Erro = 1
        END

        IF @Codigo IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o codigo do módulo')
            SET @Erro = 1
        END

        IF @Caption IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption do módulo')
            SET @Erro = 1
        END
        IF LEN(@Caption) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption do módulo')
            SET @Erro = 1
        END
        IF LEN(@Codigo) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o código do módulo')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1 


        IF NOT EXISTS (
            SELECT *
            FROM Efab_Sistema
            WHERE idSistema = @IdSistema
        )
        BEGIN
            RAISERROR('Operação cancelada. Não existe esse sistema', 16, 1)
        END

        IF EXISTS (
            SELECT 1
            FROM Efab_Modulo
            WHERE Codigo = @Codigo
            AND idSistema = @IdSistema
        )
        BEGIN
            RAISERROR('Já existe um módulo com esse código para este sistema', 16, 1)
            RETURN 1
        END

        INSERT Efab_Modulo(idSistema, Codigo, Caption, idSessao)
        VALUES (@IdSistema, @Codigo, @Caption, @IdSessao)


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
