USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_TimeHistorico_Sel]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_TimeHistorico_Sel]
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        SELECT 
            idTimeHistorico,
	        TipoOperacao,
	        DataOperacao,
	        UsuarioOperacao,
	        idSessaoOperacao,
	        idTime,
	        Nome,
	        idSessao,
	        DataInclusao,
	        UsuarioInclusao
        FROM dbo.Efab_TimeHistorico
      


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
