USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Operador_Upd]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Operador_Upd](
    @IdOperador INT = NULL,
    @Cpf VARCHAR(11) = NULL,
    @Nome VARCHAR(50) = NULL,
    @Senha VARCHAR(100) = NULL,
    @IdSessao INT = NULL,
    @Ativo BIT = NULL,
    @DataBloqueio DATE = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT 

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END

        IF @IdOperador IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idOperador', 'Não foi possível encontrar esse operador')
            SET @Erro = 1
        END

        IF @Cpf IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'cpf', 'Informe o CPF')
            SET @Erro = 1
        END
         IF ISNUMERIC(@Cpf) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'cpf', 'Só aceita números')
            SET @Erro = 1
        END
        IF LEN(@Cpf) < 11
        BEGIN
            RAISERROR(50001, 10, 1, 'cpf', 'Faltam números no CPF')
            SET @Erro = 1
        END

        IF @Nome IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do operador')
            SET @Erro = 1
        END

        IF ISNUMERIC(@Nome) = 1
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome do operador não pode ser numérico')
            SET @Erro = 1
        END

        IF LEN(@Nome) < 2
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome não pode ter menos que 3 caracteres')
            SET @Erro = 1
        END
        IF @Senha IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'senha', 'Informe a senha')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1 

        IF NOT EXISTS(
            SELECT idOperador
            FROM Efab_Operador
            WHERE idOperador = @IdOperador
        )
        BEGIN
            RAISERROR('Não existe esse operador', 16, 1)
        END


        UPDATE Efab_Operador SET 
            Cpf = @Cpf,
            Nome = @Nome, 
            Senha = @Senha,
            idSessao = @IdSessao,
            Ativo = @Ativo,
            DataBloqueio = @DataBloqueio
        WHERE idOperador = @IdOperador

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
