USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_FechaSessao]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_FechaSessao](
    @IdSessao VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Error BIT

        IF @IdSessao = NULL
        BEGIN
            RAISERROR('Não foi possível finalizar a sessão', 16, 1)
        END

        UPDATE Sys_Sessao SET
            DataFim = GETDATE()
        WHERE IdSessao = @IdSessao AND DataFim IS NULL
    

        RETURN 0
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK
        END
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
