USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_dependsquefunciona]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_dependsquefunciona] (
	@objeto VARCHAR(100)
)
AS
BEGIN
	SELECT DISTINCT name 
	FROM syscomments (NOLOCK)
	JOIN sysobjects (NOLOCK) ON sysobjects.id = syscomments.id
	WHERE CHARINDEX(@objeto, Text) > 0
	ORDER BY name
END
GO
