USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_ConfrontosTimes_Upd]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[stp_Efab_ConfrontosTimes_Upd](
    @IdTime1  INT = NULL,
    @IdTime2  INT = NULL,
    @IdJogo   INT = NULL,
    @IdSessao INT = NULL
                           
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE
            @MsgErro   VARCHAR(255),
            @DataAtual DATETIME = GETDATE(),
            @DataInicio DATETIME,
            @DataFim    DATETIME

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END

        IF @IdJogo IS NULL
        BEGIN
            INSERT INTO Efab_Jogo (idTime1, idTime2, DataInicio, DataFim, idSessao)
            VALUES (@IdTime1, @IdTime2, GETDATE(), DATEADD(HOUR, 2, GETDATE()), @IdSessao)
        END
        ELSE
        BEGIN
            
            IF NOT EXISTS(
                SELECT idJogo
                FROM Efab_Jogo
                WHERE idJogo = @IdJogo
            )
            BEGIN
                RAISERROR('Operação cancelada. O jogo não existe', 16, 1)
            END
          
            SELECT
                @DataInicio = DataInicio,
                @DataFim    = DataFim
            FROM Efab_Jogo
            WHERE idJogo = @IdJogo

            
            IF @DataAtual > @DataFim
            BEGIN
                RAISERROR('Não é permitido remover: o jogo já foi encerrado.', 16, 1)
            END

            IF EXISTS(
                SELECT * FROM Efab_Participacao
                WHERE idJogo = @IdJogo
            )
            BEGIN
                RAISERROR('Não é possível remover: o jogo tem uma participação', 16, 1)
            END

            DELETE FROM Efab_Jogo
            WHERE idJogo = @IdJogo
        END

        RETURN 0

    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
