USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Pagina_Del]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Pagina_Del](
    @IdPagina INT = NULL,
    @IdModulo INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL,
    @IdSessao INT = NULL, 
    @Bloqueio BIT = 0 
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END
        
        IF @IdPagina IS NULL
        BEGIN
            RAISERROR('Não foi possível encontrar a página', 16, 1)
        END


        IF NOT EXISTS (
            SELECT idPagina
            FROM Efab_Pagina
            WHERE idPagina = @IdPagina
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar a página', 16, 1)
        END
         IF EXISTS(
            SELECT idPagina
            FROM Efab_Acao
            WHERE idPagina = @IdPagina
        )
        BEGIN
            RAISERROR('Operação cancelada. Não é possível apagar essa página pois ele já está vinculado a uma ação', 16, 1)
        END

        DELETE Efab_Pagina
        WHERE idPagina = @IdPagina


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
