USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Participacao_Upd]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Participacao_Upd](
    @IdJogo INT = NULL,
    @IdJogador INT = NULL,
    @IdSessao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255),
            @IdTime INT = NULL, 
            @Erro BIT 

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END

        IF @IdJogo IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idJogo', 'Informe o ID do Jogo')
            SET @Erro = 1
        END

        IF @IdJogador IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idJogador', 'Informe o ID do Jogador')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1

        SELECT 
            @IdTime = idTime
        FROM Efab_Jogador
        WHERE @IdJogador = idJogador

        IF NOT EXISTS (
            SELECT 1
            FROM Efab_Jogo
            WHERE idJogo = @IdJogo
              AND GETDATE() BETWEEN DataInicio AND DataFim
        )
        BEGIN
            RAISERROR('Operação cancelada. O jogo não está em andamento.', 16, 1)
        END

        IF EXISTS(
            SELECT
                idJogador
            FROM Efab_Jogador
            WHERE idJogador = @IdJogador AND Tecnico = 1
        )
        BEGIN
            RAISERROR('Operação cancelada. Técnico não pode marcar gol.', 16, 1)
        END

        IF EXISTS (
            SELECT 
                part.idJogo,
                part.idJogador
            FROM dbo.Efab_Participacao part
            WHERE idJogo = @IdJogo AND idJogador = @IdJogador
         
        )
        BEGIN
            UPDATE Efab_Participacao SET 
                GolsMarcados = GolsMarcados + 1,
                idSessao = @IdSessao
            WHERE idJogo = @IdJogo AND idJogador = @IdJogador 
        END
        ELSE
        BEGIN
            INSERT Efab_Participacao (idJogo, idJogador, GolsMarcados, idSessao) 
            VALUES (@IdJogo, @IdJogador, 1, @IdSessao)
        END

        UPDATE Efab_Jogo SET
                Placar1 = CASE 
                              WHEN @IdTime = idTime1 THEN (Placar1 + 1)
                              ELSE Placar1
                           END,
                Placar2 = CASE 
                              WHEN @IdTime = idTime2 THEN (Placar2 + 1) 
                              ELSE Placar2
                          END
        WHERE idJogo = @IdJogo
        

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
