USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Autorizacao_Sel]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Autorizacao_Sel](
    @TipoConsulta INT = NULL,
    @IdOperador INT = NULL

)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

     IF @TipoConsulta = 0
    BEGIN
        SELECT
            o.idOperador,
            o.Cpf,
            o.Nome,
            o.Senha
        FROM Efab_Operador o
    END
    IF @TipoConsulta = 1
    BEGIN
        SELECT
            s.Caption AS Sistema,
            m.Caption AS Modulo,
            p.Caption AS Pagina,
            a.Caption AS Acao,
            a.idAcao,
            au.idAutorizacao,
            au.idOperador
        FROM dbo.Efab_Sistema s
        INNER JOIN Efab_Modulo m ON m.idSistema = s.idSistema
        INNER JOIN Efab_Pagina p ON p.idModulo = m.idModulo
        INNER JOIN Efab_Acao a ON a.idPagina = p.idPagina
        LEFT JOIN Efab_Autorizacao au ON au.idAcao = a.idAcao AND au.idOperador = @IdOperador
        WHERE a.Bloqueado = 0 OR p.Bloqueio = 0
        ORDER BY s.Caption, m.Caption, p.Caption, a.Caption
    END
    
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END

GO
