USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Operador_Sel]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Operador_Sel](
    @IdOperador INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

    BEGIN
        SELECT
            o.idOperador,
            o.Cpf,
            o.Nome,
            o.Senha,
            o.Ativo,
            CONVERT(VARCHAR, o.DataBloqueio, 23) AS DataBloqueio
        FROM dbo.Efab_Operador o
        WHERE idOperador = @IdOperador OR @IdOperador IS NULL
    END
    
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
