USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogador_Del]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Jogador_Del](
    @IdJogador INT = NULL,
    @Jogador VARCHAR(50) = NULL,
    @IdTime INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        
        IF @IdJogador IS NULL
        BEGIN
            RAISERROR('Informe o ID do jogador', 16, 1)
        END


        IF NOT EXISTS (
            SELECT idJogador
            FROM Efab_Jogador
            WHERE idJogador = @IdJogador
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o jogador informado pelo ID %d', 16, 1, @IdJogador)
        END

        IF EXISTS(
        
            SELECT idJogador
            FROM Efab_Participacao
            WHERE idJogador = @IdJogador
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível deletar o jogador pois ele está em uma participação', 16, 1)
        END

        DELETE Efab_Jogador
        WHERE idJogador = @IdJogador


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
