USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_MontaMenu]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_MontaMenu](
    @TipoConsulta VARCHAR(50) = NULL,
    @IdOperador INT = NULL,
    @CodigoSistema VARCHAR(50) = NULL,
    @CodigoModulo VARCHAR(50) = NULL,
    @CodigoPagina VARCHAR(50) = NULL,
    @CodigoAcao VARCHAR(50) = NULL,
    @TemaEscuro BIT = NULL,
    @IdSessao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

    IF @TipoConsulta = 'C_Menu'
    BEGIN
        SELECT
            s.Codigo AS CodigoSistema,
            s.Caption AS CaptionSistema,
            m.Codigo AS CodigoModulo,
            m.Caption AS CaptionModulo,
            p.Codigo AS CodigoPagina,
            p.Caption AS CaptionPagina,
            s.idSistema,
            m.idModulo,
            p.idPagina
        FROM dbo.Efab_Sistema s
        INNER JOIN Efab_Modulo m ON m.idSistema = s.idSistema
        INNER JOIN Efab_Pagina p ON p.idModulo = m.idModulo
        WHERE EXISTS(
            SELECT *
            FROM Efab_Acao a
            INNER JOIN Efab_Autorizacao au ON au.idAcao = a.idAcao AND au.idOperador = @IdOperador
            WHERE p.idPagina = a.idPagina
        )
        AND p.Bloqueio = 0
        ORDER BY s.idSistema, m.idModulo, p.idPagina
    END
    IF @TipoConsulta = 'C_Acao'
    BEGIN
        SELECT a.IdAcao, a.NomeProcedure
        FROM Efab_Acao a
        INNER JOIN Efab_Pagina p ON p.idPagina = a.idPagina
        INNER JOIN Efab_Modulo m ON m.idModulo = p.idModulo
        INNER JOIN Efab_Sistema s ON s.idSistema = m.idSistema
        INNER JOIN Efab_Autorizacao au ON au.idAcao = a.idAcao AND au.idOperador = @IdOperador
        WHERE s.Codigo = @CodigoSistema
            AND m.Codigo = @CodigoModulo
            AND p.Codigo = @CodigoPagina
            AND a.Codigo = @CodigoAcao
    END
    IF @TipoConsulta = 'C_Botao'
    BEGIN
        SELECT a.IdAcao, a.Codigo, a.Caption
        FROM Efab_Acao a
        INNER JOIN Efab_Pagina p ON p.idPagina = a.idPagina
        INNER JOIN Efab_Modulo m ON m.idModulo = p.idModulo
        INNER JOIN Efab_Sistema s ON s.idSistema = m.idSistema
        INNER JOIN Efab_Autorizacao au ON au.idAcao = a.idAcao AND au.idOperador = @IdOperador
        WHERE s.Codigo = @CodigoSistema
            AND m.Codigo = @CodigoModulo
            AND p.Codigo = @CodigoPagina
            AND a.Bloqueado = 0 
    END
    IF @TipoConsulta = 'C_MudarTema'
    BEGIN
        SELECT
            TemaEscuro,
            Nome
        FROM Efab_Operador
        WHERE idOperador = @IdOperador
    END
    IF @TipoConsulta = 'C_UpdTema'
    BEGIN
        IF @TemaEscuro IS NOT NULL
        BEGIN
            UPDATE Efab_Operador
            SET TemaEscuro = @TemaEscuro,
            IdSessao = @IdSessao
            WHERE idOperador = @IdOperador
        END 
    END

    RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END

GO
