USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_ConfrontosTimes_Sel]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_ConfrontosTimes_Sel](
    @TipoConsulta INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        IF @TipoConsulta = 0
        BEGIN
            SELECT 
                idTime,
                Nome
            FROM Efab_Time

        END
        IF @TipoConsulta = 1
        BEGIN
            SELECT DISTINCT
                t.idTime AS idTime1,
                t.Nome AS NomeTime1,
                t2.idTime AS idTime2,
                t2.Nome AS NomeTime2,
                j.idJogo
            FROM Efab_Time t
            CROSS APPLY Efab_Time t2
            LEFT JOIN Efab_Jogo j ON 
            (j.idTime1 = t.idTime AND j.idTime2 = t2.idTime) OR (j.idTime1 = t2.idTime AND j.idTime2 = t.idTime)
        END
        


    RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
