USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Time_Sel]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Time_Sel](
    @idTime INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        SELECT 
            idTime,
            Nome
        FROM dbo.Efab_Time
        WHERE idTime = @idTime OR @idTime IS NULL


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
