USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_EstruturaTabelas]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_EstruturaTabelas](
    @TipoConsulta VARCHAR(50) = NULL,
    @Chave VARCHAR(100) = NULL,
    @ConsultaComposta VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
    IF @TipoConsulta = 'Time'
    BEGIN
        SELECT
            idTime,
            Nome
        FROM Efab_Time
        WHERE (CHARINDEX(@Chave, Nome) > 0 OR @Chave IS NULL)
    END
    IF @TipoConsulta = 'Jogador'
    BEGIN
        SELECT
            idJogador,
            Nome
        FROM Efab_Jogador
        WHERE (CHARINDEX(@Chave, Nome) > 0 OR @Chave IS NULL) AND (idTime = @ConsultaComposta OR @ConsultaComposta IS NULL)
    END
    

    RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END

GO
