USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Paginacao_Sel]    Script Date: 3/30/2026 5:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Paginacao_Sel](
    @TipoConsulta INT = NULL,
    @QuantidadePorPagina INT = 10,
    @Pagina INT = 1,
    @Pesquisa VARCHAR(50) = NULL,
    @ValorInicio MONEY = NULL,
    @ValorFim MONEY = NULL
   
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

            DECLARE @T TABLE(
                Codigo INT,
                Descricao VARCHAR(100),
                Valor MONEY,
                DataInclusao DATETIME
            )
            DECLARE @count INT = 1

            WHILE @count <= 50
            BEGIN
                INSERT INTO @T (Codigo, Descricao, Valor, DataInclusao)
                VALUES (@count, 'Item' + CONVERT(VARCHAR, @count), @count * 2, GETDATE())
                SET @count = @count + 1
            END
            IF @Pesquisa IS NOT NULL
            BEGIN
                IF ISNUMERIC(@Pesquisa) = 1
                BEGIN
                    DELETE @T
                    WHERE Codigo <> @Pesquisa
                END
                IF ISNUMERIC(@Pesquisa) = 0
                BEGIN
                    DELETE @T
                    WHERE CHARINDEX(@Pesquisa, Descricao) = 0
                END
            END
            IF @ValorInicio > 0
            BEGIN
                DELETE @T
                WHERE Valor > @ValorInicio
            END

            IF @ValorFim > 0
            BEGIN
                DELETE @T
                WHERE Valor > @ValorFim
            END
            IF @TipoConsulta IS NULL
            BEGIN
                SELECT 
                    Codigo,
                    Descricao,
                    Valor,
                    DataInclusao
                FROM @T
                ORDER BY Codigo
                OFFSET (@Pagina - 1) * @QuantidadePorPagina ROWS
                FETCH NEXT @QuantidadePorPagina ROWS ONLY 
            END
            IF @TipoConsulta = 1
            BEGIN
                SELECT COUNT(*) AS TotalRegistros
                FROM @T
            END



    RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END

GO
