USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Artilharia_Sel]    Script Date: 3/6/2026 4:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Artilharia_Sel]
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        SELECT 
		t.Nome AS Time,
		jogr.Nome AS Artilheiro,
		SUM(part.GolsMarcados) AS GolsMarcados
	        FROM dbo.Efab_Time t
	        INNER JOIN dbo.Efab_Jogador jogr
		        ON jogr.idTime = t.idTime
	        INNER JOIN dbo.Efab_Participacao part
		        ON part.idJogador = jogr.idJogador
	    GROUP BY t.idTime, t.Nome, jogr.Nome
	    HAVING 
		    SUM(part.GolsMarcados) = 
			    (SELECT MAX(SomaGols)
			     FROM ( 
				    SELECT 
					    SUM(part2.GolsMarcados) AS SomaGols
				        FROM dbo.Efab_Jogador jogr2
				        INNER JOIN dbo.Efab_Participacao part2
					        ON part2.idJogador = jogr2.idJogador
				        WHERE jogr2.idTime = t.idTime
				        GROUP BY jogr2.idJogador
			        ) x
		        )
	     ORDER BY SUM(part.GolsMarcados) DESC

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END