USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_AbreSessao]    Script Date: 3/6/2026 4:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_AbreSessao](
    @Cpf VARCHAR(11) = NULL,
    @Senha VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Error BIT

   IF @Cpf IS NULL
   BEGIN
        RAISERROR(50001, 10, 1, 'cpf', 'Informe o CPF')
        SET @Error = 1
   END
   IF @Senha IS NULL
   BEGIN
        RAISERROR(50001, 10, 1, 'senha', 'Informe a senha')
        SET @Error = 1
   END

   IF @Error = 1 RETURN 1

   IF NOT EXISTS(
        SELECT *
        FROM Efab_Operador
        WHERE Cpf = @Cpf AND Senha = @Senha
   )
   BEGIN
        RAISERROR('Acesso Negado', 16, 1)
   END

   SELECT IdOperador, Nome
   FROM Efab_Operador
   WHERE Cpf = @Cpf AND Senha = @Senha
    
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
