USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Acao_Sel]    Script Date: 3/6/2026 4:48:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Acao_Sel](
    @TipoConsulta INT = NULL,
    @IdAcao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
    IF @TipoConsulta = 0
    BEGIN
        SELECT
            a.idAcao,
            p.idPagina,
            a.Codigo AS CodigoAcao,
            a.Caption AS CaptionAcao,
            a.NomeProcedure,
            p.Codigo AS CodigoPagina,
            p.Caption AS CaptionPagina,
            m.idModulo,
            m.Codigo AS CodigoModulo,
            m.Caption AS CaptionModulo,
            s.idSistema,
            s.Codigo AS CodigoSistema,
            s.Caption AS CaptionSistema
        FROM dbo.Efab_Acao a
        INNER JOIN Efab_Pagina p ON p.idPagina = a.idPagina
        INNER JOIN Efab_Modulo m ON m.idModulo = p.idModulo
        INNER JOIN Efab_Sistema s ON s.idSistema = m.idSistema
        WHERE idAcao = @IdAcao OR @IdAcao IS NULL
        ORDER BY s.Caption, m.Caption, p.Caption, a.Caption
    END
    IF @TipoConsulta = 1
    BEGIN
        SELECT 
            p.idPagina,
            p.Codigo AS CodigoPagina,
            p.Caption AS CaptionPagina,
            m.idModulo,
            m.Caption AS CaptionModulo,
            m.Codigo AS CaptionCodigo,
            m.idSistema,
            s.Caption AS CaptionSistema,
            s.Codigo AS CodigoSistema
        FROM Efab_Pagina p
        INNER JOIN Efab_Modulo m ON m.idModulo = p.idModulo
        INNER JOIN Efab_Sistema s ON s.idSistema = m.idSistema
        ORDER BY p.Caption, m.Caption, s.Caption
    END
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END