USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Operador]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Operador](
	[idOperador] [int] IDENTITY(1,1) NOT NULL,
	[Cpf] [varchar](11) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[TemaEscuro] [bit] NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
	[Ativo] [bit] NULL,
	[DataBloqueio] [date] NULL,
 CONSTRAINT [PK_Efab_Operador] PRIMARY KEY CLUSTERED 
(
	[idOperador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_Operador] ON 

INSERT [dbo].[Efab_Operador] ([idOperador], [Cpf], [Nome], [Senha], [TemaEscuro], [idSessao], [DataInclusao], [UsuarioInclusao], [Ativo], [DataBloqueio]) VALUES (1, N'12345678909', N'Estelita', N'1234', 1, 105, CAST(N'2026-03-16T11:23:52.537' AS DateTime), N'LOG-ESTELITA\12453827480', 1, NULL)
INSERT [dbo].[Efab_Operador] ([idOperador], [Cpf], [Nome], [Senha], [TemaEscuro], [idSessao], [DataInclusao], [UsuarioInclusao], [Ativo], [DataBloqueio]) VALUES (4, N'12345674323', N'Italo', N'1234', 0, 106, CAST(N'2026-03-16T11:23:52.537' AS DateTime), N'LOG-ESTELITA\12453827480', 1, NULL)
INSERT [dbo].[Efab_Operador] ([idOperador], [Cpf], [Nome], [Senha], [TemaEscuro], [idSessao], [DataInclusao], [UsuarioInclusao], [Ativo], [DataBloqueio]) VALUES (6, N'12453827480', N'Estelita Brito', N'1234', 0, 103, CAST(N'2026-03-17T10:26:15.703' AS DateTime), N'LOG-ESTELITA\12453827480', 1, NULL)
SET IDENTITY_INSERT [dbo].[Efab_Operador] OFF
GO
ALTER TABLE [dbo].[Efab_Operador] ADD  CONSTRAINT [DF__Efab_Oper__TemaE__40058253]  DEFAULT ((0)) FOR [TemaEscuro]
GO
ALTER TABLE [dbo].[Efab_Operador] ADD  CONSTRAINT [DF__Efab_Oper__DataI__671F4F74]  DEFAULT (getdate()) FOR [DataInclusao]
GO
ALTER TABLE [dbo].[Efab_Operador] ADD  CONSTRAINT [DF__Efab_Oper__Usuar__681373AD]  DEFAULT (suser_sname()) FOR [UsuarioInclusao]
GO
ALTER TABLE [dbo].[Efab_Operador] ADD  CONSTRAINT [DF__Efab_Oper__Ativo__3FD07829]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Efab_Operador]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Operador_Sys_Sessao] FOREIGN KEY([idSessao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_Operador] CHECK CONSTRAINT [FK_Efab_Operador_Sys_Sessao]
GO
/****** Object:  Trigger [dbo].[tgNg_Efab_Operador_IUD]    Script Date: 3/30/2026 5:00:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tgNg_Efab_Operador_IUD] ON [dbo].[Efab_Operador]
FOR INSERT, UPDATE, DELETE
AS
BEGIN
	DECLARE @NumRows INT,
			@NullCnt INT,
			@ValidCnt INT,
			@ErrMsg VARCHAR(255),
			@TipoOperacao VARCHAR(1)

	SELECT @NumRows = @@RowCount

	IF @NumRows = 0
		RETURN

	IF NOT EXISTS(SELECT TOP 1 NULL FROM INSERTED) --deleted
	BEGIN
		SELECT @TipoOperacao = 'D'
	END
	ELSE IF NOT EXISTS(SELECT TOP 1 NULL FROM DELETED) --inserted
	BEGIN
		SELECT @TipoOperacao = 'I'
	END
	ELSE
	BEGIN --update
		SELECT @TipoOperacao = 'U'
	END
		
	/*------------------------------>> VERIFICA  USUARIO/SESSÃO <<------------------------------*/
	DECLARE @DataInicio DATETIME,
			@idOperador INT,
			@Usuario VARCHAR(50),
			@IdSessao INT

 
	SET @Usuario = RIGHT(SUSER_SNAME(), 11)

	SELECT @idOperador = idOperador 
	FROM Efab_Operador (NOLOCK) 
	WHERE CPF = @Usuario 

	IF @idOperador IS NULL
	BEGIN
		SELECT @errmsg = 'Impossível efetuar Operação. O operador não está cadastrado'
		GOTO error
	END

	SELECT
		@IdSessao = s.idSessao, 
		@DataInicio = s.DataInicio
	FROM Sys_Sessao s (NOLOCK)
	WHERE s.idOperador = @idOperador AND s.DataFim IS NULL


	IF @IdSessao IS NULL
	BEGIN
		SET @errmsg = 'Impossível efetuar Operação. O usuário não possui sessão aberta'
		GOTO error
	END

	IF NOT EXISTS (SELECT * FROM Inserted WHERE idSessao <> -1)
	BEGIN
		GOTO FimVerificaSessao
	END

	IF EXISTS (SELECT * FROM Inserted I WHERE idSessao<>@IdSessao)
	begin
		SELECT @ErrMsg = 'Impossível efetuar operação. Operação indica sessão diferente ao da sessão corrente do Usuário'
		GOTO error
	end

	IF @TipoOperacao IN ('I', 'U')
	AND NOT UPDATE(idSessao)
		begin
		SELECT @ErrMsg = 'Impossível efetuar operação. Numero da Sessão do usuário deve ser atualizada em uma alteração'
		GOTO error
		end

	IF UPDATE(UsuarioInclusao)
	AND EXISTS
	(
		SELECT *
		FROM Inserted I
		WHERE UsuarioInclusao NOT LIKE '%' + @Usuario
	)
	BEGIN
		SELECT @ErrMsg = 'Impossível efetuar operação. Usuário inclusão do(a) Parametro incompatível com o usuário da Sessão'
		GOTO error
	END

	IF UPDATE(DataInclusao) AND EXISTS (SELECT * FROM Inserted I WHERE i.DataInclusao < @DataInicio)
	BEGIN
		SELECT @ErrMsg = 'Impossível efetuar operação. Data de inclusão do(a) Parametro incompatível com a data de inicio da Sessão'
		GOTO error
	END

	FimVerificaSessao:
	
	/*---------------------------------->> GRAVA HISTORICO <<----------------------------------*/
	IF @TipoOperacao IN('I', 'U')
	BEGIN
		INSERT INTO dbo.Efab_OperadorHistorico
		SELECT @TipoOperacao, GETDATE(), SUSER_SNAME(), @IdSessao, IU.*
		FROM Inserted IU
	END

	IF @TipoOperacao IN('D')
	BEGIN
		INSERT INTO dbo.Efab_OperadorHistorico
		SELECT @TipoOperacao, GETDATE(), SUSER_SNAME(), @IdSessao, D.*
		FROM Deleted D
	END
	/*-----------------------------------------------------------------------------------------*/

	  RETURN

	error:
	  SELECT @ErrMsg=@ErrMsg+'  (tgNg_Efab_Operador_IUD)'
	  RAISERROR (@ErrMsg,16,1)
	  ROLLBACK TRANSACTION
	END
GO
ALTER TABLE [dbo].[Efab_Operador] ENABLE TRIGGER [tgNg_Efab_Operador_IUD]
GO
