USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_TimeHistorico]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_TimeHistorico](
	[idTimeHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idTime] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Efab_Tim__FCB4F0FF3F2D1F80] PRIMARY KEY CLUSTERED 
(
	[idTimeHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_TimeHistorico] ON 

INSERT [dbo].[Efab_TimeHistorico] ([idTimeHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idTime], [Nome], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (2, N'I', CAST(N'2026-03-17T12:14:54.677' AS DateTime), N'LOG-ESTELITA\12453827480', 18, 18, N'Suiça', 18, CAST(N'2026-03-17T12:14:54.597' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_TimeHistorico] ([idTimeHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idTime], [Nome], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (3, N'U', CAST(N'2026-03-17T12:19:20.800' AS DateTime), N'LOG-ESTELITA\12453827480', 18, 18, N'Suiça2', 18, CAST(N'2026-03-17T12:14:54.597' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_TimeHistorico] ([idTimeHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idTime], [Nome], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (4, N'U', CAST(N'2026-03-17T12:22:14.020' AS DateTime), N'LOG-ESTELITA\12453827480', 18, 18, N'Suiça', 18, CAST(N'2026-03-17T12:14:54.597' AS DateTime), N'LOG-ESTELITA\12453827480')
SET IDENTITY_INSERT [dbo].[Efab_TimeHistorico] OFF
GO
ALTER TABLE [dbo].[Efab_TimeHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_TimeHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_TimeHistorico] CHECK CONSTRAINT [FK_Efab_TimeHistorico_Sys_Sessao]
GO
