USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_SistemaHistorico]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_SistemaHistorico](
	[idSistemaHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idSistema] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Efab_Sis__6AC193E030DC388F] PRIMARY KEY CLUSTERED 
(
	[idSistemaHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Efab_SistemaHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_SistemaHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_SistemaHistorico] CHECK CONSTRAINT [FK_Efab_SistemaHistorico_Sys_Sessao]
GO
