USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Participacao]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Participacao](
	[idParticipacao] [int] IDENTITY(1,1) NOT NULL,
	[idJogo] [int] NOT NULL,
	[idJogador] [int] NOT NULL,
	[GolsMarcados] [int] NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Efab_Participacao] PRIMARY KEY CLUSTERED 
(
	[idParticipacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_Participacao] ON 

INSERT [dbo].[Efab_Participacao] ([idParticipacao], [idJogo], [idJogador], [GolsMarcados], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (1, 1, 1, 3, -1, CAST(N'2026-03-16T11:23:52.457' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_Participacao] ([idParticipacao], [idJogo], [idJogador], [GolsMarcados], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (2, 2, 5, 2, -1, CAST(N'2026-03-16T11:23:52.457' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_Participacao] ([idParticipacao], [idJogo], [idJogador], [GolsMarcados], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (3, 2, 6, 2, -1, CAST(N'2026-03-16T11:23:52.457' AS DateTime), N'LOG-ESTELITA\12453827480')
SET IDENTITY_INSERT [dbo].[Efab_Participacao] OFF
GO
ALTER TABLE [dbo].[Efab_Participacao] ADD  CONSTRAINT [DF_Efab_Participacao_GolsMarcados]  DEFAULT ((0)) FOR [GolsMarcados]
GO
ALTER TABLE [dbo].[Efab_Participacao] ADD  CONSTRAINT [DF__Efab_Part__DataI__540C7B00]  DEFAULT (getdate()) FOR [DataInclusao]
GO
ALTER TABLE [dbo].[Efab_Participacao] ADD  CONSTRAINT [DF__Efab_Part__Usuar__55009F39]  DEFAULT (suser_sname()) FOR [UsuarioInclusao]
GO
ALTER TABLE [dbo].[Efab_Participacao]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Participacao_Efab_Jogador] FOREIGN KEY([idJogador])
REFERENCES [dbo].[Efab_Jogador] ([idJogador])
GO
ALTER TABLE [dbo].[Efab_Participacao] CHECK CONSTRAINT [FK_Efab_Participacao_Efab_Jogador]
GO
ALTER TABLE [dbo].[Efab_Participacao]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Participacao_Efab_Jogo] FOREIGN KEY([idJogo])
REFERENCES [dbo].[Efab_Jogo] ([idJogo])
GO
ALTER TABLE [dbo].[Efab_Participacao] CHECK CONSTRAINT [FK_Efab_Participacao_Efab_Jogo]
GO
ALTER TABLE [dbo].[Efab_Participacao]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Participacao_Sys_Sessao] FOREIGN KEY([idSessao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_Participacao] CHECK CONSTRAINT [FK_Efab_Participacao_Sys_Sessao]
GO
/****** Object:  Trigger [dbo].[tgNg_Efab_Participacao_IUD]    Script Date: 3/30/2026 5:00:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tgNg_Efab_Participacao_IUD] ON [dbo].[Efab_Participacao]
FOR INSERT, UPDATE, DELETE
AS
BEGIN
	DECLARE @NumRows INT,
			@NullCnt INT,
			@ValidCnt INT,
			@ErrMsg VARCHAR(255),
			@TipoOperacao VARCHAR(1),
			@IdSessao INT

	SELECT @NumRows = @@RowCount

	IF @NumRows = 0
		RETURN

	IF NOT EXISTS(SELECT TOP 1 NULL FROM INSERTED) --deleted
	BEGIN
		SELECT @TipoOperacao = 'D'
	END
	ELSE IF NOT EXISTS(SELECT TOP 1 NULL FROM DELETED) --inserted
	BEGIN
		SELECT @TipoOperacao = 'I'
	END
	ELSE
	BEGIN --update
		SELECT @TipoOperacao = 'U'
	END
		
	/*------------------------------>> VERIFICA  USUARIO/SESSÃO <<------------------------------*/
	DECLARE @DataInicio DATETIME,
			@idOperador INT,
			@Usuario VARCHAR(50)

 
	SET @Usuario = RIGHT(SUSER_SNAME(), 11)

	SELECT @idOperador = idOperador 
	FROM Efab_Operador (NOLOCK) 
	WHERE CPF = @Usuario 

	IF @idOperador IS NULL
	BEGIN
		SELECT @errmsg = 'Impossível efetuar Operação. O operador não está cadastrado'
		GOTO error
	END

	SELECT
		@IdSessao = s.idSessao, 
		@DataInicio = s.DataInicio
	FROM Sys_Sessao s (NOLOCK)
	WHERE s.idOperador = @idOperador AND s.DataFim IS NULL

	IF @IdSessao IS NULL
	BEGIN
		SET @errmsg = 'Impossível efetuar Operação. O usuário não possui sessão aberta'
		GOTO error
	END

	IF NOT EXISTS (SELECT * FROM Inserted WHERE idSessao <> -1)
	BEGIN
		GOTO FimVerificaSessao
	END

	IF EXISTS (SELECT * FROM Inserted I WHERE idSessao<>@IdSessao)
	begin
		SELECT @ErrMsg = 'Impossível efetuar operação. Operação indica sessão diferente ao da sessão corrente do Usuário'
		GOTO error
	end

	IF @TipoOperacao IN ('I', 'U')
	AND NOT UPDATE(idSessao)
		begin
		SELECT @ErrMsg = 'Impossível efetuar operação. Numero da Sessão do usuário deve ser atualizada em uma alteração'
		GOTO error
		end

	IF UPDATE(UsuarioInclusao)
	AND EXISTS
	(
		SELECT *
		FROM Inserted I
		WHERE UsuarioInclusao NOT LIKE '%' + @Usuario
	)
	BEGIN
		SELECT @ErrMsg = 'Impossível efetuar operação. Usuário inclusão do(a) Parametro incompatível com o usuário da Sessão'
		GOTO error
	END

	IF UPDATE(DataInclusao) AND EXISTS (SELECT * FROM Inserted I WHERE i.DataInclusao < @DataInicio)
	BEGIN
		SELECT @ErrMsg = 'Impossível efetuar operação. Data de inclusão do(a) Parametro incompatível com a data de inicio da Sessão'
		GOTO error
	END

	FimVerificaSessao:
	
	/*---------------------------------->> GRAVA HISTORICO <<----------------------------------*/
	IF @TipoOperacao IN('I', 'U')
	BEGIN
		INSERT INTO dbo.Efab_ParticipacaoHistorico
		SELECT @TipoOperacao, GETDATE(), SUSER_SNAME(), @IdSessao, IU.*
		FROM Inserted IU
	END

	IF @TipoOperacao IN('D')
	BEGIN
		INSERT INTO dbo.Efab_ParticipacaoHistorico
		SELECT @TipoOperacao, GETDATE(), SUSER_SNAME(), @IdSessao, D.*
		FROM Deleted D
	END
	/*-----------------------------------------------------------------------------------------*/

	  RETURN

	error:
	  SELECT @ErrMsg=@ErrMsg+'  (tgNg_Efab_Participacao_IUD)'
	  RAISERROR (@ErrMsg,16,1)
	  ROLLBACK TRANSACTION
	END
GO
ALTER TABLE [dbo].[Efab_Participacao] ENABLE TRIGGER [tgNg_Efab_Participacao_IUD]
GO
