USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_ParticipacaoHistorico]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_ParticipacaoHistorico](
	[idParticipacaoHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idParticipacao] [int] NOT NULL,
	[idJogo] [int] NOT NULL,
	[idJogador] [int] NOT NULL,
	[GolsMarcados] [int] NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Efab_Par__656650077A409C51] PRIMARY KEY CLUSTERED 
(
	[idParticipacaoHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Efab_ParticipacaoHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_ParticipacaoHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_ParticipacaoHistorico] CHECK CONSTRAINT [FK_Efab_ParticipacaoHistorico_Sys_Sessao]
GO
