USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_AcaoHistorico]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_AcaoHistorico](
	[idAcaoHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idAcao] [int] NOT NULL,
	[idPagina] [int] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Caption] [varchar](50) NOT NULL,
	[NomeProcedure] [varchar](100) NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
 CONSTRAINT [PK__Efab_Aca__8ACD1645EDF82128] PRIMARY KEY CLUSTERED 
(
	[idAcaoHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_AcaoHistorico] ON 

INSERT [dbo].[Efab_AcaoHistorico] ([idAcaoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idAcao], [idPagina], [Codigo], [Caption], [NomeProcedure], [idSessao], [DataInclusao], [UsuarioInclusao], [Bloqueado]) VALUES (1, N'I', CAST(N'2026-03-23T09:09:25.730' AS DateTime), N'LOG-ESTELITA\12453827480', 73, 47, 17, N'CO', N'Consultar Operador', N'stp_Efab_ConsultaAcessos', 73, CAST(N'2026-03-23T09:09:25.660' AS DateTime), N'LOG-ESTELITA\12453827480', 0)
INSERT [dbo].[Efab_AcaoHistorico] ([idAcaoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idAcao], [idPagina], [Codigo], [Caption], [NomeProcedure], [idSessao], [DataInclusao], [UsuarioInclusao], [Bloqueado]) VALUES (2, N'I', CAST(N'2026-03-23T09:10:35.020' AS DateTime), N'LOG-ESTELITA\12453827480', 73, 48, 17, N'CQ', N'Consulta Quantidade', N'stp_Efab_ConsultaAcessos', 73, CAST(N'2026-03-23T09:10:34.900' AS DateTime), N'LOG-ESTELITA\12453827480', 0)
INSERT [dbo].[Efab_AcaoHistorico] ([idAcaoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idAcao], [idPagina], [Codigo], [Caption], [NomeProcedure], [idSessao], [DataInclusao], [UsuarioInclusao], [Bloqueado]) VALUES (3, N'I', CAST(N'2026-03-23T09:11:19.590' AS DateTime), N'LOG-ESTELITA\12453827480', 73, 49, 17, N'CS', N'Consulta Sessões', N'stp_Efab_ConsultaAcessos', 73, CAST(N'2026-03-23T09:11:19.460' AS DateTime), N'LOG-ESTELITA\12453827480', 0)
SET IDENTITY_INSERT [dbo].[Efab_AcaoHistorico] OFF
GO
ALTER TABLE [dbo].[Efab_AcaoHistorico] ADD  CONSTRAINT [DF__Efab_Acao__Bloqu__2610A626]  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Efab_AcaoHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_AcaoHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_AcaoHistorico] CHECK CONSTRAINT [FK_Efab_AcaoHistorico_Sys_Sessao]
GO
