USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_AutorizacaoHistorico]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_AutorizacaoHistorico](
	[idAutorizacaoHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idAutorizacao] [int] NOT NULL,
	[idAcao] [int] NOT NULL,
	[idOperador] [int] NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Efab_Aut__19FCABFF637D0056] PRIMARY KEY CLUSTERED 
(
	[idAutorizacaoHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_AutorizacaoHistorico] ON 

INSERT [dbo].[Efab_AutorizacaoHistorico] ([idAutorizacaoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idAutorizacao], [idAcao], [idOperador], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (14, N'I', CAST(N'2026-03-17T11:31:32.817' AS DateTime), N'LOG-ESTELITA\12453827480', 16, 200, 27, 6, 16, CAST(N'2026-03-17T11:31:32.813' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_AutorizacaoHistorico] ([idAutorizacaoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idAutorizacao], [idAcao], [idOperador], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (15, N'I', CAST(N'2026-03-17T11:31:32.817' AS DateTime), N'LOG-ESTELITA\12453827480', 16, 199, 26, 6, 16, CAST(N'2026-03-17T11:31:32.813' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_AutorizacaoHistorico] ([idAutorizacaoHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idAutorizacao], [idAcao], [idOperador], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (16, N'D', CAST(N'2026-03-17T11:33:29.720' AS DateTime), N'LOG-ESTELITA\12453827480', 16, 200, 27, 6, 16, CAST(N'2026-03-17T11:31:32.813' AS DateTime), N'LOG-ESTELITA\12453827480')
SET IDENTITY_INSERT [dbo].[Efab_AutorizacaoHistorico] OFF
GO
ALTER TABLE [dbo].[Efab_AutorizacaoHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_AutorizacaoHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_AutorizacaoHistorico] CHECK CONSTRAINT [FK_Efab_AutorizacaoHistorico_Sys_Sessao]
GO
