USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_OperadorHistorico]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_OperadorHistorico](
	[idOperadorHistorico] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[UsuarioOperacao] [varchar](50) NOT NULL,
	[idSessaoOperacao] [int] NOT NULL,
	[idOperador] [int] NOT NULL,
	[Cpf] [varchar](11) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[TemaEscuro] [bit] NOT NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
	[Ativo] [bit] NULL,
	[DataBloqueio] [date] NULL,
 CONSTRAINT [PK__Efab_Ope__32960CA00A3BB436] PRIMARY KEY CLUSTERED 
(
	[idOperadorHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_OperadorHistorico] ON 

INSERT [dbo].[Efab_OperadorHistorico] ([idOperadorHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idOperador], [Cpf], [Nome], [Senha], [TemaEscuro], [idSessao], [DataInclusao], [UsuarioInclusao], [Ativo], [DataBloqueio]) VALUES (4, N'U', CAST(N'2026-03-17T14:12:10.640' AS DateTime), N'LOG-ESTELITA\12453827480', 19, 1, N'12345678909', N'Estelita', N'12345', 1, -1, CAST(N'2026-03-16T11:23:52.537' AS DateTime), N'LOG-ESTELITA\12453827480', NULL, NULL)
INSERT [dbo].[Efab_OperadorHistorico] ([idOperadorHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idOperador], [Cpf], [Nome], [Senha], [TemaEscuro], [idSessao], [DataInclusao], [UsuarioInclusao], [Ativo], [DataBloqueio]) VALUES (5, N'U', CAST(N'2026-03-17T14:13:14.183' AS DateTime), N'LOG-ESTELITA\12453827480', 19, 1, N'12345678909', N'Estelita', N'12345', 0, -1, CAST(N'2026-03-16T11:23:52.537' AS DateTime), N'LOG-ESTELITA\12453827480', NULL, NULL)
INSERT [dbo].[Efab_OperadorHistorico] ([idOperadorHistorico], [TipoOperacao], [DataOperacao], [UsuarioOperacao], [idSessaoOperacao], [idOperador], [Cpf], [Nome], [Senha], [TemaEscuro], [idSessao], [DataInclusao], [UsuarioInclusao], [Ativo], [DataBloqueio]) VALUES (6, N'U', CAST(N'2026-03-17T14:18:24.480' AS DateTime), N'LOG-ESTELITA\12453827480', 19, 1, N'12345678909', N'Estelita', N'12345', 1, -1, CAST(N'2026-03-16T11:23:52.537' AS DateTime), N'LOG-ESTELITA\12453827480', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Efab_OperadorHistorico] OFF
GO
ALTER TABLE [dbo].[Efab_OperadorHistorico] ADD  CONSTRAINT [DF__Efab_Oper__Ativo__40C49C62]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Efab_OperadorHistorico]  WITH CHECK ADD  CONSTRAINT [FK_Efab_OperadorHistorico_Sys_Sessao] FOREIGN KEY([idSessaoOperacao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_OperadorHistorico] CHECK CONSTRAINT [FK_Efab_OperadorHistorico_Sys_Sessao]
GO
