USE [dbTreinamento]
GO
/****** Object:  Table [dbo].[Efab_Jogador]    Script Date: 3/30/2026 5:00:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Efab_Jogador](
	[idJogador] [int] IDENTITY(1,1) NOT NULL,
	[idTime] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Salario] [money] NOT NULL,
	[Capitao] [bit] NULL,
	[Tecnico] [bit] NULL,
	[Suspenso] [bit] NULL,
	[idSessao] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[UsuarioInclusao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Efab_Jogador] PRIMARY KEY CLUSTERED 
(
	[idJogador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Efab_Jogador] ON 

INSERT [dbo].[Efab_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (1, 1, N'Kaka', 100000.0000, 1, 0, 0, -1, CAST(N'2026-03-16T11:23:52.393' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (2, 4, N'Nakamura', 200000.0000, 0, 1, 0, -1, CAST(N'2026-03-16T11:23:52.393' AS DateTime), N'LOG-ESTELITA\12453827480')
INSERT [dbo].[Efab_Jogador] ([idJogador], [idTime], [Nome], [Salario], [Capitao], [Tecnico], [Suspenso], [idSessao], [DataInclusao], [UsuarioInclusao]) VALUES (3, 1, N'Adriano', 200000.0000, 0, 0, 0, -1, CAST(N'2026-03-16T11:23:52.393' AS DateTime), N'LOG-ESTELITA\12453827480')
SET IDENTITY_INSERT [dbo].[Efab_Jogador] OFF
GO
ALTER TABLE [dbo].[Efab_Jogador] ADD  CONSTRAINT [DF__Efab_Joga__DataI__4C6B5938]  DEFAULT (getdate()) FOR [DataInclusao]
GO
ALTER TABLE [dbo].[Efab_Jogador] ADD  CONSTRAINT [DF__Efab_Joga__Usuar__4D5F7D71]  DEFAULT (suser_sname()) FOR [UsuarioInclusao]
GO
ALTER TABLE [dbo].[Efab_Jogador]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Jogador_Efab_Time] FOREIGN KEY([idTime])
REFERENCES [dbo].[Efab_Time] ([idTime])
GO
ALTER TABLE [dbo].[Efab_Jogador] CHECK CONSTRAINT [FK_Efab_Jogador_Efab_Time]
GO
ALTER TABLE [dbo].[Efab_Jogador]  WITH CHECK ADD  CONSTRAINT [FK_Efab_Jogador_Sys_Sessao] FOREIGN KEY([idSessao])
REFERENCES [dbo].[Sys_Sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[Efab_Jogador] CHECK CONSTRAINT [FK_Efab_Jogador_Sys_Sessao]
GO
/****** Object:  Trigger [dbo].[tgNg_Efab_Jogador_IUD]    Script Date: 3/30/2026 5:00:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tgNg_Efab_Jogador_IUD] ON [dbo].[Efab_Jogador]
FOR INSERT, UPDATE, DELETE
AS
BEGIN
	DECLARE @NumRows INT,
			@NullCnt INT,
			@ValidCnt INT,
			@ErrMsg VARCHAR(255),
			@TipoOperacao VARCHAR(1),
			@IdSessao INT

	SELECT @NumRows = @@RowCount

	IF @NumRows = 0
		RETURN

	IF NOT EXISTS(SELECT TOP 1 NULL FROM INSERTED) --deleted
	BEGIN
		SELECT @TipoOperacao = 'D'
	END
	ELSE IF NOT EXISTS(SELECT TOP 1 NULL FROM DELETED) --inserted
	BEGIN
		SELECT @TipoOperacao = 'I'
	END
	ELSE
	BEGIN --update
		SELECT @TipoOperacao = 'U'
	END
		
	/*------------------------------>> VERIFICA  USUARIO/SESSÃO <<------------------------------*/
	DECLARE @DataInicio DATETIME,
			@idOperador INT,
			@Usuario VARCHAR(50)

 
	SET @Usuario = RIGHT(SUSER_SNAME(), 11)

	SELECT @idOperador = idOperador 
	FROM Efab_Operador (NOLOCK) 
	WHERE CPF = @Usuario 

	IF @idOperador IS NULL
	BEGIN
		SELECT @errmsg = 'Impossível efetuar Operação. O operador não está cadastrado'
		GOTO error
	END

	SELECT
		@IdSessao = s.idSessao, 
		@DataInicio = s.DataInicio
	FROM Sys_Sessao s (NOLOCK)
	WHERE s.idOperador = @idOperador AND s.DataFim IS NULL

	IF @IdSessao IS NULL
	BEGIN
		SET @errmsg = 'Impossível efetuar Operação. O usuário não possui sessão aberta'
		GOTO error
	END

	IF NOT EXISTS (SELECT * FROM Inserted WHERE idSessao <> -1)
	BEGIN
		GOTO FimVerificaSessao
	END
	IF EXISTS (SELECT * FROM Inserted I WHERE idSessao<>@IdSessao)
	begin
		SELECT @ErrMsg = 'Impossível efetuar operação. Operação indica sessão diferente ao da sessão corrente do Usuário'
		GOTO error
	end

	IF @TipoOperacao IN ('I', 'U')
	AND NOT UPDATE(idSessao)
		begin
		SELECT @ErrMsg = 'Impossível efetuar operação. Numero da Sessão do usuário deve ser atualizada em uma alteração'
		GOTO error
		end

	IF UPDATE(UsuarioInclusao)
	AND EXISTS
	(
		SELECT *
		FROM Inserted I
		WHERE UsuarioInclusao NOT LIKE '%' + @Usuario
	)
	BEGIN
		SELECT @ErrMsg = 'Impossível efetuar operação. Usuário inclusão do(a) Parametro incompatível com o usuário da Sessão'
		GOTO error
	END

	IF UPDATE(DataInclusao) AND EXISTS (SELECT * FROM Inserted I WHERE i.DataInclusao < @DataInicio)
	BEGIN
		SELECT @ErrMsg = 'Impossível efetuar operação. Data de inclusão do(a) Parametro incompatível com a data de inicio da Sessão'
		GOTO error
	END

	FimVerificaSessao:
	
	/*---------------------------------->> GRAVA HISTORICO <<----------------------------------*/
	IF @TipoOperacao IN('I', 'U')
	BEGIN
		INSERT INTO dbo.Efab_JogadorHistorico
		SELECT @TipoOperacao, GETDATE(), SUSER_SNAME(), @IdSessao, IU.*
		FROM Inserted IU
	END

	IF @TipoOperacao IN('D')
	BEGIN
		INSERT INTO dbo.Efab_JogadorHistorico
		SELECT @TipoOperacao, GETDATE(), SUSER_SNAME(), @IdSessao, D.*
		FROM Deleted D
	END
	/*-----------------------------------------------------------------------------------------*/

	  RETURN

	error:
	  SELECT @ErrMsg=@ErrMsg+'  (tgNg_Efab_Jogador_IUD)'
	  RAISERROR (@ErrMsg,16,1)
	  ROLLBACK TRANSACTION
	END
GO
ALTER TABLE [dbo].[Efab_Jogador] ENABLE TRIGGER [tgNg_Efab_Jogador_IUD]
GO
