USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogador_Upd]    Script Date: 2/27/2026 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Jogador_Upd](
    @IdJogador INT = NULL,
    @Jogador VARCHAR(50) = NULL,
    @IdTime INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT 


        IF @Jogador IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'Informe o nome do jogador')
            SET @Erro = 1
        END
        IF ISNUMERIC(@Jogador) = 1
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome do time não pode ser numérico')
            SET @Erro = 1
        END
        IF LEN(@Jogador) < 2
        BEGIN
            RAISERROR(50001, 10, 1, 'nome', 'O nome não pode ter menos do que 2 caracteres')
            SET @Erro = 1
        END

        IF @IdTime IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'time', 'Informe o time')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1


        IF NOT EXISTS (
            SELECT idJogador
            FROM Efab_Jogador
            WHERE idJogador = @IdJogador
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o jogador informado pelo ID %d', 16, 1, @IdJogador)
        END

        IF EXISTS (
            SELECT idJogador
            FROM Efab_Jogador
            WHERE Nome = @Jogador AND idTime = @IdTime
        )

        BEGIN
            RAISERROR('Operação cancelada. Já existe um jogador desse time com esse nome %s', 16, 1, @Jogador)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime)
        END

        IF EXISTS(
        
            SELECT idJogador
            FROM Efab_Participacao
            WHERE idJogador = @IdJogador
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível atualizar o jogador pois ele está em uma participação', 16, 1)
        END


        UPDATE Efab_Jogador SET 
            Nome = @Jogador,
            idTime = @IdTime
        WHERE idJogador = @IdJogador


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END