USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Operador_Del]    Script Date: 2/27/2026 5:19:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---DELETE OPERADOR---

ALTER PROCEDURE [dbo].[stp_Efab_Operador_Del](
    @IdOperador INT = NULL,
    @Cpf VARCHAR(11) = NULL,
    @Nome VARCHAR(50) = NULL,
    @Senha VARCHAR(100) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        
        IF @IdOperador IS NULL
        BEGIN
            RAISERROR('Não foi possível encontrar esse operador', 16, 1)
        END


        IF NOT EXISTS (
            SELECT idOperador
            FROM Efab_Operador
            WHERE idOperador = @IdOperador
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar esse operador', 16, 1)
        END
        IF EXISTS(
            SELECT idOperador
            FROM Efab_Autorizacao
            WHERE idOperador = @IdOperador
        )
        BEGIN
            RAISERROR('Operação cancelada. Não é possível apagar esse operador pois ele já está vinculado a uma autorização', 16, 1)
        END

        DELETE Efab_Operador
        WHERE idOperador = @IdOperador 


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END