USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_AbreSessao]    Script Date: 3/27/2026 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_AbreSessao](
    @Cpf VARCHAR(11) = NULL,
    @Senha VARCHAR(50) = NULL,
    @ViaIp VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Error BIT, @IdOperador INT, @IdSessao INT

   

   IF @ViaIp IS NULL
   BEGIN
       IF @Cpf IS NULL
       BEGIN
            RAISERROR(50001, 10, 1, 'cpf', 'Informe o CPF')
            SET @Error = 1
       END
       IF @Senha IS NULL
       BEGIN
            RAISERROR(50001, 10, 1, 'senha', 'Informe a senha')
            SET @Error = 1
       END

       IF @Error = 1 RETURN 1

       IF NOT EXISTS(
            SELECT *
            FROM Efab_Operador
            WHERE Cpf = @Cpf AND Senha = @Senha
       )
       BEGIN
            RAISERROR('Acesso Negado', 16, 1)
       END
       SELECT IdOperador, Nome, TemaEscuro
       FROM Efab_Operador
       WHERE Cpf = @Cpf AND Senha = @Senha
   END
   ELSE 
   BEGIN 
       SELECT @IdOperador = idOperador
       FROM Efab_Operador
       WHERE Cpf = @Cpf

       BEGIN TRANSACTION 

           UPDATE dbo.Sys_Sessao SET
              DataFim = GETDATE()
           WHERE IdOperador = @IdOperador AND DataFim IS NULL

           INSERT INTO Sys_Sessao(
            IdOperador,
            DataInicio,
            ViaIp
           )
           SELECT 
            idOperador = @IdOperador,
            DataInicio = GETDATE(),
            ViaIp = @ViaIp

            SET @idSessao = SCOPE_IDENTITY()

       COMMIT TRANSACTION
        SELECT @idSessao AS idSessao
   END
    

        RETURN 0
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK
        END
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
