USE [dbTreinamento]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ConsisteOperadorSessao]    Script Date: 3/27/2026 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ConsisteOperadorSessao] (
    @IdSessao INT = NULL
)
RETURNS VARCHAR(255)
AS
BEGIN
    DECLARE
        @DataFim DATETIME,
        @IdOperador INT,
        @CPF VARCHAR(20)

    IF @idSessao IS NULL
    BEGIN
        RETURN 'Sessão não informada'
    END

    SELECT
        @IdOperador = IdOperador,
        @DataFim = DataFim
    FROM Sys_Sessao (NOLOCK)
    WHERE IdSessao = @IdSessao

    IF @IdOperador IS NULL
    BEGIN
        RETURN 'Sessão não identificada'
    END

    IF @DataFim IS NOT NULL
    BEGIN
        RETURN 'Sessão já encerrada'
    END

    SET @CPF = NULL

    SELECT @CPF = CPF
    FROM Efab_Operador (NOLOCK)
    WHERE IdOperador = @IdOperador

    IF @CPF IS NULL
    BEGIN
        RETURN 'Operador não cadastrado'
    END

    RETURN NULL
END
GO
