USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogo_Upd]    Script Date: 2/18/2026 4:31:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Jogo_Upd](
    @IdJogo INT = NULL,
    @IdTime1 INT = NULL,
    @IdTime2 INT = NULL,
    @Placar1 INT = NULL,
    @Placar2 INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT

        IF @IdTime1 IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idTime1', 'Informe o time')
            SET @Erro = 1
        END

        IF @IdTime2 IS NULL
        BEGIN
           RAISERROR(50001, 10, 1, 'idTime2', 'Informe o time')
           SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1

        IF @IdTime1 = @IdTime2
        BEGIN
           RAISERROR('Operação cancelada. Não foi possível atualizar o jogo com times iguais', 16, 1)
        END

        IF EXISTS(
            SELECT idJogo
            FROM Efab_Participacao
            WHERE idJogo = @idJogo
        )
        BEGIN 
            RAISERROR('Operação cancelada. Não é possível editar um jogo em andamento', 16, 1)
        END 

        IF NOT EXISTS (
            SELECT idJogo
            FROM Efab_Jogo
            WHERE idJogo = @IdJogo
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o jogo informado pelo ID %d', 16, 1, @IdJogo)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @IdTime1
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime1)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @IdTime2
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime2)
        END


        UPDATE Efab_Jogo SET 
            idTime1 = @IdTime1,
            idTime2 = @IdTime2
        WHERE idJogo = @IdJogo


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END