USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogo_Del]    Script Date: 2/27/2026 5:17:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Jogo_Del](
    @IdJogo INT = NULL,
    @IdTime1 INT = NULL,
    @IdTime2 INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        
        IF @IdJogo IS NULL
        BEGIN
            RAISERROR('Informe o ID do jogo', 16, 1)
        END
       

        IF EXISTS (
            SELECT idJogo
            FROM Efab_Participacao
            WHERE idJogo = @IdJogo
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível deletar o jogo pois ele ja foi iniciado', 16, 1)
        END

        IF NOT EXISTS (
            SELECT idJogo
            FROM Efab_Jogo
            WHERE idJogo = @IdJogo
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o jogo informado pelo ID %d', 16, 1, @IdJogo)
        END

        DELETE Efab_Jogo
        WHERE idJogo = @IdJogo


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END