USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Jogo_Ins]    Script Date: 3/6/2026 4:50:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Jogo_Ins](
    @IdJogo INT = NULL,
    @IdTime1 INT = NULL,
    @IdTime2 INT = NULL,
    @Placar1 INT = NULL,
    @Placar2 INT = NULL,
    @DataInicio DATETIME = NULL,
    @DataFim DATETIME = NULL

)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), @Erro BIT


        IF @IdTime1 IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'idTime1', 'Informe o time')
            SET @Erro = 1
        END

        IF @IdTime2 IS NULL
        BEGIN
           RAISERROR(50001, 10, 1, 'idTime2', 'Informe o time')
           SET @Erro = 1
        END

        IF ISDATE(@DataInicio) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'dataInicio', 'Informe a Data do inicio do jogo')
            SET @Erro = 1
        END
        IF ISDATE(@DataFim) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'dataFim', 'Informe a Data do inicio do jogo')
            SET @Erro = 1
        END

        IF CAST(@DataInicio AS TIME) IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'horaInicio', 'Informe a Hora do inicio do jogo')
            SET @Erro = 1
        END

        IF CAST(@DataFim AS TIME) IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'horaInicio', 'Informe a Hora do fim do jogo')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1

        IF @IdTime1 = @IdTime2
        BEGIN
           RAISERROR('Operação cancelada. Não foi possível adicionar o jogo com times iguais', 16, 1)
        END

        IF @DataFim <= @DataInicio
        BEGIN                             
            RAISERROR('Operação cancelada. A data de término não pode ser anterior à data de início.', 16, 1)
        END

        IF @DataInicio < GETDATE()
        BEGIN
            RAISERROR('Operação cancelada. A data de início não pode ser menor que a data atual.', 16, 1)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime1
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime1)
        END

        IF NOT EXISTS (
            SELECT idTime
            FROM Efab_Time
            WHERE idTime = @idTime2
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o time informado pelo ID %d', 16, 1, @IdTime2)
        END

        INSERT Efab_Jogo(idTime1, idTime2, DataInicio, DataFim)
        VALUES (@IdTime1, @IdTime2, @DataInicio, @DataFim)

        
        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
