USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Sistema_Ins]    Script Date: 3/27/2026 5:39:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_Efab_Sistema_Ins](
    @IdSistema INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL,
    @IdSessao INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255), 
            @Erro BIT

        SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@IdSessao)

        IF @MsgErro IS NOT NULL
        BEGIN
           RAISERROR(@MsgErro, 16, 1)
        END

        IF @Codigo IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o codigo do sistema')
            SET @Erro = 1
        END

        IF @Caption IS NULL
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption do sistema')
            SET @Erro = 1
        END
        IF LEN(@Caption) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'caption', 'Informe o caption do sistema')
            SET @Erro = 1
        END
        IF LEN(@Codigo) = 0
        BEGIN
            RAISERROR(50001, 10, 1, 'codigo', 'Informe o codigo do sistema')
            SET @Erro = 1
        END

        IF @Erro = 1 RETURN 1 

        IF EXISTS (
            SELECT *
            FROM Efab_Sistema
            WHERE Codigo = @Codigo
        )
        BEGIN
            RAISERROR('Sistema ja cadastrado com esse código', 16, 1)
        END

        INSERT Efab_Sistema(Codigo, Caption, idSessao)
        VALUES (@Codigo, @Caption, @IdSessao)

        

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END
GO
