USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Sistema_Del]    Script Date: 2/27/2026 5:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Sistema_Del](
    @IdSistema INT = NULL,
    @Codigo VARCHAR(50) = NULL,
    @Caption VARCHAR(50) = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)
        
        IF @IdSistema IS NULL
        BEGIN
            RAISERROR('Não foi possível encontrar o sistema', 16, 1)
        END


        IF NOT EXISTS (
            SELECT idSistema
            FROM Efab_Sistema
            WHERE idSistema = @IdSistema
        )
        BEGIN
            RAISERROR('Operação cancelada. Não foi possível identificar o sistema', 16, 1)
        END

        IF EXISTS(
            SELECT idSistema
            FROM Efab_Modulo
            WHERE idSistema = @IdSistema
        )
        BEGIN
            RAISERROR('Operação cancelada. Não é possível apagar esse sistema pois ele já está vinculado a um módulo', 16, 1)
        END

        DELETE Efab_Sistema
        WHERE idSistema = @IdSistema


        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END