USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Efab_Sistema_Sel]    Script Date: 2/27/2026 5:22:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_Efab_Sistema_Sel](
    @IdSistema INT = NULL
)
AS
BEGIN
    BEGIN TRY
        SET NOCOUNT ON

        DECLARE 
            @MsgErro VARCHAR(255)

        SELECT 
            idSistema,
            Codigo,
            Caption
        FROM dbo.Efab_Sistema
        WHERE idSistema = @IdSistema OR @IdSistema IS NULL 

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @MsgErro = ERROR_MESSAGE()
        RAISERROR(@MsgErro, 16, 1)
        RETURN 1
    END CATCH
END